<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <resultMap id="OptionFeedback.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.OptionFeedback,ETMS.Components.Exam.API">
      <result property="OptionFeedbackID" column="OptionFeedbackID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="Options" column="Options" />
      <result property="Content" column="Content" />
      <result property="IsDelete" column="IsDelete" />
      <result property="CreatedUserID" column="CreatedUserID" />
      <result property="CreatedDate" column="CreatedDate" />
      <result property="UpdatedUserID" column="UpdatedUserID" />
      <result property="UpdatedDate" column="UpdatedDate" />
    </resultMap>
  </resultMaps>
  <statements>
    <statement id="OptionFeedback.Insert">
      Insert Into TK_QuestionOptionFeedback(
      OptionFeedbackID,
      QuestionID,
      Content,
      Options,
      IsDelete,
      CreatedUserID,
      CreatedDate,
      UpdatedUserID,
      UpdatedDate
      )
      values(
      #OptionFeedbackID#,
      #QuestionID#,
      #Content#,
      #Options#,
      #IsDelete#,
      #CreatedUserID#,
      #CreatedDate#,
      #UpdatedUserID#,
      #UpdatedDate#
      )
    </statement>
    <statement id="OptionFeedback.Delete">
      Update TK_QuestionOptionFeedback Set IsDelete=1 Where OptionFeedbackID=#value#
    </statement>
    <statement id="OptionFeedback.Deletes">
      Update TK_QuestionOptionFeedback Set IsDelete=1 Where QuestionID=#value#
    </statement>
    <statement id="OptionFeedback.GetByID" resultMap="OptionFeedback.ResultMap">
      Select * From TK_QuestionOptionFeedback Where IsDelete=0 and QuestionID=#value#
    </statement>
    <statement id="OptionFeedback.Update">
      Update TK_QuestionOptionFeedback Set
      Content=#Content#,
      Options=#Options#,
      [UpdatedUserID]=#UpdatedUserID#,
      [UpdatedDate]=#UpdatedDate#
      WHERE OptionFeedbackID=#OptionFeedbackID#
    </statement>

    <statement id="OptionFeedback.Content" resultClass="string">
      Select Content From TK_QuestionOptionFeedback Where IsDelete=0 and QuestionID='$QuestionID$' and Options like '%$Options$%'
    </statement>
    <statement id="OptionFeedback.IsExist" resultClass="int">
      Select Count(*)	From TK_QuestionOptionFeedback Where IsDelete=0 and QuestionID=#QuestionID#
    </statement>
  </statements>
</sqlMap>
