<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <resultMap id="QuestionSearch.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.Question,ETMS.Components.Exam.API">
      <result property="QuestionID"         column="QuestionID"/>
      <result property="QuestionType"     column="QuestionType"/>
      <result property="QuestionTitle"      column="QuestionTitle"/>
      <result property="ParentQuestionID"   column="ParentQuestionID"/>
      <result property="ObjectID"           column="ObjectID"/>
      <result property="QuestionBankID"     column="QuestionBankID"/>
      <result property="Subject"            column="Subject"/>
      <result property="KnowledgePoints"    column="KnowledgePoints"/>
      <result property="Difficulty"         column="Difficulty"/>
      <result property="Answers"            column="Answers"/>
      <result property="RandomFlag"         column="RandomFlag"/>
      <result property="SubItemIndex"       column="SubItemIndex"/>
      <result property="SourceQuestionID"   column="SourceQuestionID"/>
      <result property="CreatedUserID"      column="CreatedUserID"/>
      <result property="CreatedDate"        column="CreatedDate"/>
      <result property="UpdatedDate"        column="UpdatedDate"/>
    </resultMap>
  </resultMaps>
  <statements>
    <procedure id="QuestionSearch.GetResults" resultClass="data" parameterMap="Common.PagingParm">
      pr_Exam_sp_super_page
    </procedure>
  </statements>
</sqlMap>
