<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--勿动，8位长度字符-->
  <add key="RgbKeys" value="Mooc2014"/>
  
  <add key="DiskPath" value="D:\\test\Files\MediaResource"/><!--D:\Files\Resource-->

  <add key="CallBackUrl" value="http://localhost:8102/Services/Pdf2ImageHandler.ashx"/>
</appSettings>