<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。

    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中

-->
<appSettings>
  
  
  <!-- 应用中的异常是否显示完整信息 -->
  <add key="System.ApplicationException.ShowMore" value="true"/>
  <!-- 默认首页 -->
  <add key="DefaultHomeUrl" value="http://localhost:2020/LearnSite/Default.aspx"/>

  <add key="NoticeOrg" value="282,283"/>
  <add key="PlatTitle" value="职业培训平台"/>
  <add key="CopyRight" value="Copyright 2012 北京跬步教育科技有限公司"/>
</appSettings>
