<?xml version="1.0"?>
<objects xmlns="http://www.autumnframework.net"
           xmlns:db="http://www.autumnframework.net/database">

  <!-- 相关参数替换 -->
  <object type="Autumn.Objects.Factory.Config.PropertyPlaceholderConfigurer, Autumn.Core">
    <property name="ConfigSections" value="dataBaseSettings"/> 
  </object>
  
  <!-- Exam 数据库配置[读写分离] -->
  <db:provider id="DbProvider_Write_Exam"
         provider="SqlServer-2.0" connectionString="${Exam_Write}"/>

  <db:provider id="DbProvider_Read_Exam"
         provider="SqlServer-2.0" connectionString="${Exam_Read}"/>

  <!-- Exam 基础配置[支持读、写分别] -->
  <object id="IBatisProvider_Write_Exam" type="Autumn.Data.ORM.IBatis.DataMapperFactory,Autumn.Data.ORM">
    <!-- IBatis技术相关的配置入口 -->
    <property name="ConfigLocation" value="~/Config/IBatis/SqlMap.Exam.config"/>
    <!-- 写数据源注入 -->
    <property name="DbProvider" ref="DbProvider_Write_Exam"/>
  </object>
  <object id="IBatisProvider_Read_Exam" type="Autumn.Data.ORM.IBatis.DataMapperFactory,Autumn.Data.ORM">
    <!-- IBatis技术相关的配置入口 -->
    <property name="ConfigLocation" value="~/Config/IBatis/SqlMap.Exam.config"/>
    <!-- 读数据源注入 -->
    <property name="DbProvider" ref="DbProvider_Read_Exam"/>
  </object>
  <!-- Exam 抽象数据访问对象配置 -->
  <object id="ExamAbstractDaoService" abstract="true">
    <property name="DataMapperProvider_Read" ref="IBatisProvider_Read_Exam"/>
    <property name="DataMapperProvider_Write" ref="IBatisProvider_Write_Exam"/>
  </object>
  <!-- 基础服务配置结束 -->
  
  <!-- 数据源配置结束 -->

  <!-- 数据访问层配置开始 -->
  <!-- CustomDaoService数据访问服务注入 -->
  
  <!-- 数据访问层配置开始 -->
  <!-- 题库操作 数据访问服务注入 -->
  <object id="QuestionBankDaoService" parent="ExamAbstractDaoService" type="ETMS.Components.Exam.Implement.DAL.ItemBank.QuestionBankIBatisDao,ETMS.Components.Exam.Implement"/>
  <!-- 试题操作 数据访问服务注入 -->
  <object id="QuestionDaoService" parent="ExamAbstractDaoService" type="ETMS.Components.Exam.Implement.DAL.ItemBank.QuestionIBatisDao,ETMS.Components.Exam.Implement"/>

  <!-- 分类操作 数据访问服务注入 -->
  <object id="TreeCategoryDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.ItemBank.TreeCategoryIBatisDao,ETMS.Components.Exam.Implement"/>

  <!-- 临时操作 数据访问服务注入 
  <object id="QuestionTempDaoService" parent="ExamAbstractDaoService" 
          type="ETMS.Components.Exam.Implement.DAL.ItemBank.OptionFeedbackIBatisDao,ETMS.Components.Exam.Implement"/>
  -->

  <!--解题思路,反馈 数据访问服务注入-->
  <object id="QuestionExtendDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.ItemBank.QuestionExtendIBatisDao,ETMS.Components.Exam.Implement"/>
  <object id="QuestionFeedbackDaoService" parent="ExamAbstractDaoService"
      type="ETMS.Components.Exam.Implement.DAL.ItemBank.QuestionFeedbackIBatisDao,ETMS.Components.Exam.Implement"/>
  <object id="OptionFeedbackDaoService" parent="ExamAbstractDaoService"
      type="ETMS.Components.Exam.Implement.DAL.ItemBank.OptionFeedbackIBatisDao,ETMS.Components.Exam.Implement"/>

  <!--试题选项(QuestionOption) 数据访问服务注入-->
  <object id="QuestionOptionDaoService" parent="ExamAbstractDaoService"
          type="ETMS.Components.Exam.Implement.DAL.ItemBank.QuestionOptionIBatisDao,ETMS.Components.Exam.Implement"/>

  <object id="OptionGroupDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.ItemBank.OptionGroupIBatisDao,ETMS.Components.Exam.Implement"/>

  <!--试题搜索-->
  <object id="QuestionSearchDaoService" parent="ExamAbstractDaoService"
      type="ETMS.Components.Exam.Implement.DAL.ItemBank.QuestionSearchIBatisDao,ETMS.Components.Exam.Implement"/>
  <!--课程引用-->
  <object id="TestToQuestionDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.ItemBank.TestToQuestionIBatisDao,ETMS.Components.Exam.Implement"/>


  <!-- 数据访问层配置开始 -->
  <!-- 试卷操作 数据访问服务注入 -->
  <object id="TestPaperDaoService" parent="ExamAbstractDaoService" type="ETMS.Components.Exam.Implement.DAL.Test.TestPaperIBatisDao,ETMS.Components.Exam.Implement"/>

  <object id="PaperQuestionDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.Test.PaperQuestionIBatisDao,ETMS.Components.Exam.Implement"/>

  <!---试卷反馈项 数据访问服务-->
  <object id="TestFeedbackDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.Test.TestFeedbackIBatisDao,ETMS.Components.Exam.Implement"/>
  <!---考生答卷结果 数据访问服务-->
  <object id="UserExamResultDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.Test.UserExamResultIBatisDao,ETMS.Components.Exam.Implement"/>
  <!---考生答卷 数据访问服务-->
  <object id="UserExamDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.Test.UserExamIBatisDao,ETMS.Components.Exam.Implement"/>
  <!--考生答卷试题 数据访问服务-->
  <object id="UserQuestionDaoService" parent="ExamAbstractDaoService"
          type="ETMS.Components.Exam.Implement.DAL.Test.UserQuestionIBatisDao,ETMS.Components.Exam.Implement"/>

  <!---试卷策略 数据访问服务-->
  <object id="TestPaperRuleDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.Test.TestPaperRuleIBatisDao,ETMS.Components.Exam.Implement"/>

  <!---试卷试题和素材 数据访问服务-->
  <object id="ExamResourceDaoService" parent="ExamAbstractDaoService"
        type="ETMS.Components.Exam.Implement.DAL.Test.ExamResourceIBatisDao,ETMS.Components.Exam.Implement"/>
  
  <!-- 数据访问层配置结束 -->
</objects>