<?xml version="1.0"?>

<objects xmlns="http://www.autumnframework.net"
		 xmlns:tx="http://www.autumnframework.net/tx"
     xmlns:db="http://www.autumnframework.net/database">
  <description>
    业务逻辑服务定义，目前按照应用，拆成多个配置文件！
  </description>
  <!-- 导入依赖 -->
  <import resource="Exam.Dao.config"/>

  <!-- 应用层配置开始 -->
  <!-- QuestionBankService逻辑服务注入 -->
  <object id="QuestionBankService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionBankLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionBankDao" ref="QuestionBankDaoService"/>
    <property name="QuestionLogic" ref="QuestionService"/>
  </object>
  <!-- QuestionService逻辑服务注入 -->
  <object id="QuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionDao" ref="QuestionDaoService"/>
  </object>

  <!-- 分类操作 逻辑注入 -->
  <object id="TreeCategoryService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.TreeCategoryLogic,ETMS.Components.Exam.Implement">
    <property name="TreeCategoryDao" ref="TreeCategoryDaoService"/>
    <property name="TestPaperService" ref="TestPaperService"/>
  </object>

  <!-- 解题思路,反馈 逻辑注入 -->
  <object id="QuestionExtendService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionExtendLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionExtendDao" ref="QuestionExtendDaoService"/>
  </object>
  <object id="QuestionFeedbackService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionFeedbackLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionFeedbackDao" ref="QuestionFeedbackDaoService"/>
  </object>
  <object id="OptionFeedbackService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.OptionFeedbackLogic,ETMS.Components.Exam.Implement">
    <property name="OptionFeedbackDao" ref="OptionFeedbackDaoService"/>
  </object>

  <!-- QuestionOption（试题选项)逻辑注入 -->
  <object id="QuestionOptionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionOptionLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionOptionDao" ref="QuestionOptionDaoService"/>
  </object>
  <!---OptionService(试题选项)服务注入-->
  <object id="OptionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.OptionServiceLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionOptionLogic" ref="QuestionOptionService"/>
  </object>
  <!-- OptionGroup（试题选项组)逻辑注入 -->
  <object id="OptionGroupLogic" type="ETMS.Components.Exam.Implement.BLL.ItemBank.OptionGroupLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionOptionDao" ref="QuestionOptionDaoService"/>
    <property name="OptionGroupDao" ref="OptionGroupDaoService"/>
  </object>
  <!---OptionGroup (试题选项组)服务注入-->
  <object id="OptionGroupService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.OptionGroupServiceLogic,ETMS.Components.Exam.Implement">
    <property name="OptionGroupLogic" ref="OptionGroupLogic"/>
  </object>

  <object id="CommonQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionBaseLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionTitleLogic" ref="QuestionService"/>
    <property name="QuestionExtendLogic" ref="QuestionExtendService"/>
    <property name="OptionFeedbackLogic" ref="OptionFeedbackService"/>
    <property name="QuestionFeedbackLogic" ref="QuestionFeedbackService"/>
  </object>


  <!-- GroupQuestion（归类题）逻辑服务注入 -->
  <object id="GroupQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.GroupQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionBaseLogic" ref="CommonQuestionService"/>
    <property name="OptionGroupService" ref="OptionGroupService"/>
  </object>
  <!-- MatchQuestion（匹配题）逻辑服务注入 -->
  <object id="MatchQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.MatchQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionBaseLogic" ref="CommonQuestionService"/>
    <property name="OptionGroupService" ref="OptionGroupService"/>
  </object>
  <!-- SingleChoiceQuestion（单选题）逻辑服务注入 -->
  <object id="SingleChoiceQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.SingleChoiceQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="CommonQuestionLogic" ref="CommonQuestionService"/>
    <property name="OptionService" ref="OptionService"/>
  </object>
  <!-- MultipleChoice（多选题）逻辑服务注入 -->
  <object id="MultipleChoiceQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.MultipleChoiceQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="CommonQuestionLogic" ref="CommonQuestionService"/>
    <property name="OptionService" ref="OptionService"/>
  </object>
  <!-- JudgementQuestion（判断题）逻辑服务注入 -->
  <object id="JudgementQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.JudgementQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="CommonQuestionLogic" ref="CommonQuestionService"/>
    <property name="OptionService" ref="OptionService"/>
  </object>
  <!-- TextEntryQuestion（填空题）逻辑服务注入 -->
  <object id="TextEntryQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.TextEntryQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="CommonQuestionLogic" ref="CommonQuestionService"/>
  </object>
  <!-- ExtendTextQuestion（问答题）逻辑服务注入 -->
  <object id="ExtendTextQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.ExtendedTextQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="CommonQuestionLogic" ref="CommonQuestionService"/>
  </object>

  <!--Question (用于所有类型的试题)试题服务注入-->
  <object id="AllQuestionTypeService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionServiceLogic,ETMS.Components.Exam.Implement">
    <property name="SingleChoiceQuestionLogic" ref="SingleChoiceQuestionService"/>
    <property name="MultipleChoiceQuestionLogic" ref="MultipleChoiceQuestionService"/>
    <property name="JudgementQuestionLogic" ref="JudgementQuestionService"/>
    <property name="MatchQuestionLogic" ref="MatchQuestionService"/>
    <property name="GroupQuestionLogic" ref="GroupQuestionService"/>
    <property name="TextEntryQuestionLogic" ref="TextEntryQuestionService"/>
    <property name="ExtendTextQuestionLogic" ref="ExtendTextQuestionService"/>
    <property name="QuestionTitleLogic" ref="QuestionService"/>
  </object>

  <!--试题搜索-->
  <object id="QuestionSearchService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.QuestionSearchLogic,ETMS.Components.Exam.Implement">
    <property name="QuestionSearchDao" ref="QuestionSearchDaoService"/>
  </object>
  <!--课程引用-->
  <object id="TestToQuestionService" type="ETMS.Components.Exam.Implement.BLL.ItemBank.TestToQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="TestToQuestionDao" ref="TestToQuestionDaoService"/>
  </object>


  <!-- 应用层配置开始 -->
  <!-- 试卷操作 逻辑服务注入 -->
  <object id="TestPaperService" type="ETMS.Components.Exam.Implement.BLL.test.TestPaperLogic,ETMS.Components.Exam.Implement">
    <property name="TestPaperDao" ref="TestPaperDaoService"/>
    <property name="TestFeedbackLogic" ref="TestFeedbackService"/>
    <property name="OptionGroupLogic" ref="OptionGroupService"/>
    <property name="OptionLogic" ref="OptionService"/>
    <property name="TestPaperRuleLogic" ref="TestPaperRuleService"/>
  </object>
  <object id="PaperQuestionService" type="ETMS.Components.Exam.Implement.BLL.test.PaperQuestionLogic,ETMS.Components.Exam.Implement">
    <property name="PaperQuestionDao" ref="PaperQuestionDaoService"/>
    <property name="TestPaperLogic" ref="TestPaperService"/>
    <property name="QuestionLogic" ref="QuestionService"/>
  </object>
  <!-- TestFeedback（试卷答题反馈信息)逻辑注入 -->
  <object id="TestFeedbackLogic" type="ETMS.Components.Exam.Implement.BLL.Test.TestFeedbackLogic,ETMS.Components.Exam.Implement">
    <property name="TestFeedbackDao" ref="TestFeedbackDaoService"/>
  </object>
  <!---TestFeedback (试卷答题反馈信息)服务注入-->
  <object id="TestFeedbackService" type="ETMS.Components.Exam.Implement.BLL.Test.TestFeedbackServiceLogic,ETMS.Components.Exam.Implement">
    <property name="TestFeedbackLogic" ref="TestFeedbackLogic"/>
  </object>
  <!-- UserTestStatus（考生答卷状态)逻辑注入 -->
  <object id="UserTestStatusLogic" type="ETMS.Components.Exam.Implement.BLL.Test.UserTestStatusLogic,ETMS.Components.Exam.Implement">
    <property name="UserExamDao" ref="UserExamDaoService"/>
  </object>
  <!-- UserExamResult（考生答卷结果信息)逻辑注入 -->
  <object id="UserExamResultLogic" type="ETMS.Components.Exam.Implement.BLL.Test.UserExamResultLogic,ETMS.Components.Exam.Implement">
    <property name="UserExamResultDao" ref="UserExamResultDaoService"/>
    <property name="UserTestStatusLogic" ref="UserTestStatusLogic"/>
  </object>
  <!-- ExamQuestions（考生答卷试题)逻辑注入 -->
  <object id="ExamQuestionsLogic" type="ETMS.Components.Exam.Implement.BLL.Test.ExamQuestionsLogic,ETMS.Components.Exam.Implement">
    <property name="UserQuestionDao" ref="UserQuestionDaoService"/>
  </object>
  <!-- ExamExam（考生答卷)逻辑注入 -->
  <object id="UserExamLogic" type="ETMS.Components.Exam.Implement.BLL.Test.UserExamLogic,ETMS.Components.Exam.Implement">
    <property name="UserExamDao" ref="UserExamDaoService"/>
  </object>
  <!-- 考生试卷 逻辑注入
  针对设计缺陷补救措施：由于该类无法支持无状态模式，因此，需要特殊设置对象创建模式为原型模式。
  -->
  <object id="UserExamPaperLogic" type="ETMS.Components.Exam.Implement.BLL.Test.UserExamPaperLogic,ETMS.Components.Exam.Implement"
          singleton="false">
    <property name="UserQuestionDao" ref="UserQuestionDaoService"/>
    <property name="TestPaperDao" ref="TestPaperDaoService"/>
    <property name="QuestionsLogic" ref="ExamQuestionsLogic"/>
    <property name="ResultsLogic" ref="UserExamResultLogic"/>
    <property name="TestStatusLogic" ref="UserTestStatusLogic"/>
    <property name="ExamLogic" ref="UserExamLogic"/>
    <property name="TestFeedbackLogic" ref="TestFeedbackLogic"/>
  </object>
  <!-- 考生答题 逻辑注入 -->
  <object id="UserTestLogic" type="ETMS.Components.Exam.Implement.BLL.Test.UserTestLogic,ETMS.Components.Exam.Implement">
    <property name="PaperRuleLogic" ref="TestPaperRuleService" />
  </object>

  <!---试卷策略服务注入-->
  <object id="TestPaperRuleService" type="ETMS.Components.Exam.Implement.BLL.Test.TestPaperRuleLogic,ETMS.Components.Exam.Implement">
    <property name="TestPaperRuleDao" ref="TestPaperRuleDaoService"/>
    <property name="PaperQuestionLogic" ref="PaperQuestionService"/>
  </object>

  <!---试卷试题和素材关系-->
  <object id="ExamResourceService" type="ETMS.Components.Exam.Implement.BLL.Test.ExamResourceLogic,ETMS.Components.Exam.Implement">
    <property name="ExamResourceDao" ref="ExamResourceDaoService"/>
  </object>
</objects>
