<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- autumn 配置解析器 -->
    <sectionGroup name="autumn">
      <section name="parsers" type="Autumn.Context.Support.NamespaceParsersSectionHandler, Autumn.Core"/>
      <section name="context" type="Autumn.Context.Support.ContextHandler, Autumn.Core"/>
      <section name="objects" type="Autumn.Context.Support.DefaultSectionHandler, Autumn.Core"/>
    </sectionGroup>
    <!--业务缓存-->
    <section name="bizCache" type="ETMS.Components.Basic.Implement.BLL.Caching.BizCacheConfiguration"/>
    <!-- 统一认证相关参数配置解析器-->
    <sectionGroup name="autumn.security">
      <!--单点登录Client必需项-->
      <section name="passportClientSettings" type="University.Mooc.Security.PassportClientSettings, University.Mooc.Security" allowLocation="true" allowDefinition="Everywhere"/>
      <!--单点登录可选项-->
      <section name="authenticateDirSettings" type="University.Mooc.Security.AuthenticateDirSettings, University.Mooc.Security" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <!-- logger配置解析器 -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- 文件系统配置解析器 -->
    <section name="fileSysSettings" type="System.Configuration.NameValueSectionHandler"/>
    <!-- 数据库配置解析器 -->
    <section name="dataBaseSettings" type="System.Configuration.NameValueSectionHandler"/>
    <!-- 支付配置解析器 -->
    <section name="PaymentSettings" type="System.Configuration.NameValueSectionHandler"/>
    <!-- 排除在安全url之外的特殊功能 -->
    <section name="excludeSafeUrlSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <!-- 数据库设置 -->
  <dataBaseSettings configSource="Config\dataBaseSettings.config"/>
  <!-- 文件系统配置 -->
  <fileSysSettings configSource="Config\fileSysSettings.config"/>
  <!-- 支付配置 -->
  <PaymentSettings configSource="Config\PaymentSettings.config"/>
  <!-- 排除在安全url之外的特殊功能 -->
  <excludeSafeUrlSettings configSource="Config\excludeSafeUrlSettings.config"/>
  <!-- 应用配置 -->
  <appSettings configSource="Config\AppSettings.config"/>
  <!-- 日志记录参数配置  -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/Config/Log4Net.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <!-- 加载应用上下文配置 -->
  <autumn>
    <context>
      <!-- 文件上传环境配置 -->
      <resource uri="~/config/service-plugins-fileupload-config.config"/>
      <!-- 消息提醒环境配置 -->
      <resource uri="~/config/service-plugins-notify-config.config"/>
      <!-- 题库集成 -->
      <context name="Exam">
        <resource uri="assembly://ETMS.Components.Exam.Implement/ETMS.Components.Exam.Implement.Config/Exam.config"/>
      </context>
    </context>
  </autumn>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime maxRequestLength="10240" executionTimeout="600" requestValidationMode="2.0"/>
    <!-- 模拟用户声明 -->
    <!--<identity impersonate="true" userName="ETMS" password="open2012"/>-->
    <!-- 自定义类型文件执行器 -->
    <httpHandlers>
      <!-- 通用文件上传handler模块配置 -->
      <add verb="*" path="FileUpload.ashx" type="ETMS.Utility.Service.FileUpload.FileUploadHandler,ETMS.Utility"/>
      <!-- 验证码模块配置 -->
      <add verb="GET" path="ValidCode.ashx" type="ETMS.Utility.Service.ValidCode.ValidCodeHandler,ETMS.Utility"/>
    </httpHandlers>
    <httpModules>
      <!-- 统一用户认证拦截器 -->
      <add name="SSOSecurityModule" type="University.Mooc.Security.SSOSecurityModule,University.Mooc.Security"/>
      <!-- 模拟用户 -->
      <!--<add name="ImpersonateUserContextHttpModule" type="ETMS.Security.ImpersonateUserContextHttpModule, ETMS.Security"/>-->
      <!-- Url安全校验器 -->
      <!--<add name="DefaultSecurityModule" type="University.Mooc.Security.DefaultSecurityModule,University.Mooc.Security" />-->
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>-->
    </httpModules>
    <machineKey validationKey="420602255C2A2EF50FC4A755970587C11FEC4E04" decryptionKey="13C1F706FFFEFD9E646E183218BEC109B56637B234113146" decryption="3DES" validation="SHA1"/>
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <authentication mode="Forms">
      <forms name="openRes" loginUrl="login.aspx" protection="All" timeout="120" cookieless="UseCookies" slidingExpiration="true"/>
    </authentication>
    <pages styleSheetTheme="ThemeStudying" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <namespaces>
        <!--  辅助工具集 -->
        <add namespace="ETMS.Utility"/>
      </namespaces>
      <!--For Ajax Use-->
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <!--UNLV包括下拉选择列表控件-->
        <add tagPrefix="ETMS" namespace="ETMS.Controls" assembly="ETMS.Controls"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>-->
      <!-- 统一用户认证拦截器 -->
      <add name="SSOSecurityModule" type="University.Mooc.Security.SSOSecurityModule,University.Mooc.Security"/>
      <!-- 模拟用户 -->
      <!--<add name="ImpersonateUserContextHttpModule" type="ETMS.Security.ImpersonateUserContextHttpModule, ETMS.Security"/>-->
      <!-- Url安全校验器 -->
      <!--<add name="DefaultSecurityModule" type="University.Mooc.Security.DefaultSecurityModule,University.Mooc.Security" />-->
    </modules>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- 统一认证相关配置 -->
  <autumn.security>
    <!-- 资源分类（公共资源、受保护资源[仅认证资源、认证+授权资源]）
    1、@defaultAnonymous=false 所有资源禁止匿名访问
       anonymousDirs指定资源除外
    2、@defaultAnonymous=true 所有资源允许匿名访问
       authenticateDir指定的资源除外
    -->
    <authenticateDirSettings>
      <authenticateDirs>
        <add location="~/Study/"/>
        <add location="~/Self/"/>
      </authenticateDirs>
    </authenticateDirSettings>
    <!-- 统一登录认证-客户端集成配置
      @appID 客户端应用标识
      @appSignInTimeout、@appSlidingExpiration 认证有效期
        1、appSlidingExpiration=0(不采用相对时间过期策略）
          1.1、appSignInTimeout>0  cookie绝对时间过期 
          1.2、appSignInTimeout=-1 cookie永不过期
          1.3、appSignInTimeout=-2 cookie进程关闭时过期
        2、appSlidingExpiration>0 cookie相对时间过期
      @IsIntegrationAuthorization 是否集成权限验证
      @isCacheUserRole 是否缓存用户角色（cookie方式存储）
      @UserChooseOrganizationUrl 用户切换机构地址（本质上选择机构应用）
    3、RSAKeyContainerName rsa密钥保存容器名称，此配置与“rsaKeyValue”二选一，决定密钥存储方式，这里取值“ETMS”
    -->
    <passportClientSettings appID="Studying" appSignInTimeout="-2" appSlidingExpiration="1200" isIntegrationAuthorization="true" isCacheUserRole="false">
      <paths>
        <!-- 网站自定义认证页面
        背后通过ajax技术提交值“ajaxSignInUrl”地址
        -->
        <!--<add name="customSignInUrl" uri="~/Login.aspx" />-->
        <add name="signInUrl" uri=""/>
        <!-- Ajax异步认证支持，用于支持站点自定义登录页面
          技术特点：背后涉及跨站点调用，目前通过$.getScript()方式来解决 -->
        <add name="ajaxSignInUrl" uri=""/>
        <add name="logOffUrl" uri=""/>
        <add name="logOffCallBackUrl" uri=""/>
      </paths>
      <!--<rsaKeyValue>
        <Modulus>pJtk7yDBiO0dB5n+6R2fTyUEektLJLqq8n0HKSocd3GU8Myj58WMXDK2zWJ9nTVjMOaEsLNPgcVQl8M8UOkEo7yzLvT+sxBEciwBKf3A26IcK6rAMAiJWagDJh5UiyJb2RIiRItyhLu2woiIxvUcrNp04YCRHB85hQy/KXch8Bs=</Modulus>
        <Exponent>AQAB</Exponent>
        <P>0v//8un+QLXn4BeL5n5h5WUszgJ1k4cAmSAqMgf7dhSzjHgIxsvhZs86pLhqUnKjq7TIl7CeeK5Ps98I6eno5w==</P>
        <Q>x7Z4FQi5PPmpKVEyMS25mYmldZUHqyByUm/LrED4I6rnoGKVqBFHqEBj00qUThNUuKXf2gan79GByN/TLAaUrQ==</Q>
        <DP>PobodTbMRqbhUPIJXkOjhRQnY+EssIw4LChw+KSO6x4VWxITH745THsqmLehok8gm3iWXQVU4NRfACGfBZpwjw==</DP>
        <DQ>ER6xOIxg5Ls6JxKQzOpwiJrmFihKWf8UDcELop6HJveVl4gb8CZbEC9E3237PJ4nmxSNFfGQH9zD1WZqgdGmmQ==</DQ>
        <InverseQ>paiLmgb29SAdLMMpVNElzMKOEMCXvQjlqvg2j5o+mHMSoxE9iBO9L3sV6wb4cElCKPB001UFCuFUSLjXuEqqqw==</InverseQ>
        <D>HfTl1psYfanhaZu+B4DLmGS9PuBrCYErUTwtzHEMgzRZjcVAYxLRq4nTOOeewriPl7usFFhdtNlLBIOUe4kcvcD/s+7KCnuvupVINgLGbf046JdckcUp5osPT42oTmifPqh2dKWpDOkL9gVHw6CZWLhRp2argDhj7WjclTiF/jk=</D>
      </rsaKeyValue>-->
    </passportClientSettings>
  </autumn.security>
  <system.codedom>
    <!--<compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>-->
  </system.codedom>
</configuration>