
@{
    ViewBag.Title = "优博";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <script src="@ETMS.Utility.WebUtility.AppPath/Scripts/lib/handlebars/handlebars.min.js"></script>
    <script src="@ETMS.Utility.WebUtility.AppPath/Scripts/lib/documentPlay/modernizr.2.5.3.min.js"></script>
    <script src="@ETMS.Utility.WebUtility.AppPath/Scripts/lib/documentPlay/hash.js"></script>
}
<div id="canvas" class="main">
    @*<div><a id="close" class="close">返回</a></div>*@
    <div class="magazine-viewport viewport-phone">
        <button class="sideslip"></button>
        <div class="container">
            <div class="magazine" id="triggerMove">
            </div>
        </div>
    </div>

    <div class="thumbnails single_page phone-thumbnails">
        <!--  <div id="thumbnails">
         </div> -->
    </div>
</div>

<!-- 模块化数据绑定 -->
<script id="outlineList" type="text/x-handlebars-template">
    <div id="outlines">
        {{#each this.catalog}}
        <div class="books-catalog">
            <h2 >@* onclick="templateImages({{@@index}})" *@
                <span class="icon"></span>
                {{title}}
                <i class="arrow"></i>
            </h2>
            <ul id="menuList_{{@@index}}">
                {{#each secondLevelList}}
                <li>
                    <h3>{{smallTitle}}</h3>
                    <div class="pic_list">
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
</script>
<script type="text/javascript">

    /************************************************************/
    var booksOutline = {
        "catalog": [{
            "title": "",
            "secondLevelList": [{
                "smallTitle": "",
                "content": [
               //{
               //    "small": "http://10.96.142.74:8010/files/MediaResource/2016/11/30/20161130102611471/1.jpg",
               //    "thumb": "http://10.96.142.74:8010/files/MediaResource/2016/11/30/20161130102611471/1_t.jpg",
               //    "page": "1"
               //}
                ]
            }]
        }, ]
    }
    var thumbnailsData = [
       //{
        //    "small": "http://10.96.142.74:8010/files/MediaResource/2016/11/30/20161130102611471/1.jpg",
        //    "thumb": "http://10.96.142.74:8010/files/MediaResource/2016/11/30/20161130102611471/1_t.jpg",
        //    "page": "1"
        //}
    ];
    var userid = Cookies.get('cookie_userid');
    var TrainingItemCourseID = common.GetQueryString("TrainingItemCourseID");
    var ResourceType = 2;
    var ResourceID = common.GetQueryString("ResourceID");
    var StartTime = '';
    var StudyProgress = '';
    var pageStudyProgress = '';//加载数据初始页码
    var pageFlag = 1;
    //$("#close").click(function () {
    //    $(this).attr("href", "/MyTrain/Detail?TrainingItemCourseID=" + TrainingItemCourseID);
    //})
    //加载资源（视频，文档）
   // loadResource();
    function loadResource() {
        var params = { "TrainingItemCourseID": TrainingItemCourseID, "ResourceType": ResourceType, "ResourceID": ResourceID, "StudentID": userid };
        common.call(AppPath+"/Study/GetStudyResourceContent", params, 'get', function (data) {
            if (data.Status == true && data.Data.ImageList.length>0) {
                pageStudyProgress = data.Data.StudyProgress ? data.Data.StudyProgress : 1;
                var ImageList = data.Data.ImageList
                for (var i = 0; i < ImageList.length; i++) {
                    var obj = {};
                    obj["small"] = ImageList[i]["img"];
                    obj["thumb"] = ImageList[i]["thumb"];
                    obj["page"] = ImageList[i]["caption"];
                    thumbnailsData[i] = obj;
                }
               // booksOutline.catalog[0].title = "";
                booksOutline.catalog[0].secondLevelList[0].content = thumbnailsData;
                InitializeStudyProgress();
                loadApp();
            } else {

                layer.msg(data.Message)
            }
        }, error)
    }
  
    //初始状态PostInitializeStudyProgress
    function InitializeStudyProgress() {
        var params = { "TrainingItemCourseID": TrainingItemCourseID, "ResourceID": ResourceID, "StudentID": userid };
        common.call(AppPath+"/Study/PostInitializeStudyProgress", params, 'post', function (data) {
            if (data.Status == true) {
                StartTime = data.Data;
            } else {
                layer.msg(data.Message)
            }
        }, error)
    }
    //终止状态PostTerminateStudyProgress
    function TerminateStudyProgress() {
        var params = { "StartTime": StartTime, "StudyProgress": StudyProgress, "TrainingItemCourseID": TrainingItemCourseID, "ResourceID": ResourceID, "StudentID": userid };
        common.call(AppPath+"/Study/PostTerminateStudyProgress", params, 'post', function (data) {
            if (data.Status == true) {
            } else {
                layer.msg(data.Message)
            }
        }, error)
    }
    //完成状态PostCompletedStudyProgress
    function CompletedStudyProgress() {
        var params = { "TrainingItemCourseID": TrainingItemCourseID, "StudyProgress": StudyProgress, "ResourceID": ResourceID, "StudentID": userid };
        common.call(AppPath+"/Study/PostCompletedStudyProgress", params, 'post', function (data) {
            if (data.Status == true) {
            } else {
                layer.msg(data.Message)
            }
        }, error)
    }

    window.onbeforeunload = function () {
        StudyProgress = pageFlag;
        TerminateStudyProgress();
        return "真的离开?";
    }
    /************************************************************/

//配置turn.js
    function loadApp() {
    $('#canvas').fadeIn(1000);
    var flipbook = $('.magazine');
    templateImages(0);
    // Create the flipbook
    flipbook.turn({
        width: $(window).width(),
        height: $(window).height(),
        duration: 1000,
        display: 'single',
        gradients: true,
        autoCenter: true,
        elevation: 50,
        pages: thumbnailsData.length,
        page: pageStudyProgress,//续播
        when: {
            turning: function (event, page) {
                $(".pic-list.current").removeClass("current");
                currentReading(page, $(this).turn('page'));//阅读标识
                // Update the current URI
                Hash.go('page/' + page).update();
            },
            turned: function (event, page) {
                currentReading(page, $(this).turn('page'));
                $(this).turn('center');
                if(page === 1 ) $(this).turn('peel', 'br');
                if (page == thumbnailsData.length) $(this).turn('peel', 'bl');
                if (page == thumbnailsData.length) {
                    StudyProgress = thumbnailsData.length;
                    CompletedStudyProgress();
                }
                pageFlag = page;
            },
            missing: function (event, pages) {
                // Add pages that aren't in the magazine
                var length = 0;
                if( pages.length > 3 ){
                    length = 3;
                }else{
                    length = pages.length;
                }
                for (var i = 0; i < length; i++) {
                    addPage(pages[i], $(this));
                }
            }
        }

    });

    Hash.on('^page\/([0-9]*)$', {
        yep: function(path, parts) {
            var page = parts[1];
            if (page !== undefined) {
                if ($('.magazine').turn('is')) {
                    $('.magazine').turn('page', page);
                }
            }

        },
        nop: function() {
          //  alert(pageStudyProgress)
            if ($('.magazine').turn('is')) {
                $('.magazine').turn('page', pageStudyProgress);
            }
        }
    });

    $('.thumbnails').click(function(event) {
        var page;

        if (event.target && (page = /page-([0-9]+)/.exec($(event.target).attr('class')))) {

            $('.magazine').turn('page', page[1]);
        }
    });

    $('.thumbnails .pic-list').
    bind($.mouseEvents.over, function() {
        if( $(this).parents('.thumbnails').hasClass('single_page') ){
            $(this).addClass('thumb-hover');
        }else{
            $(this).parent().addClass('thumb-hover');
        }

    }).bind($.mouseEvents.out, function() {
        $(this).removeClass('thumb-hover');
        $(this).parent().removeClass('thumb-hover');

    });

    var hammertime = new Hammer(document.querySelector("#triggerMove"));
    SlidingFlip(hammertime);

    $('.magazine-viewport').zoom({
            flipbook: $('.magazine'),

            max: function() {
                hammertime.off("pan");

                $('body').append("<div id='loader' class='loader'></div>");

                return 1000 / flipbook.width();
            },

            when: {

                resize: function(event, scale, page, pageElement) {

                    if (scale === 1) {
                        loadSmallPage(page, pageElement);
                    } else {
                        loadLargePage(page, pageElement);
                    }

                    $('#loader').remove();
                },

                zoomIn: function() {

                    $('.made').hide();
                    $('.magazine').removeClass('animated').addClass('zoom-in');
                    $('.zoom-icon').removeClass('zoom-icon-in').addClass('zoom-icon-out');

                },

                zoomOut: function() {
                    SlidingFlip(hammertime);

                    $('.exit-message').hide();
                    //$('.thumbnails').fadeIn();
                    $('.made').fadeIn();
                    $('.zoom-icon').removeClass('zoom-icon-out').addClass('zoom-icon-in');
                    setTimeout(function() {

                        $('.magazine').addClass('animated').removeClass('zoom-in');
                        // resizeViewport();
                    }, 0);

                }
            }
        });

    // Zoom event
    if ($.isTouch) {
        $('.magazine-viewport').bind('zoom.doubleTap', zoomTo);
    } else {
        $('.magazine-viewport').bind('zoom.tap', zoomTo);
    }

}

yepnope({
    test: Modernizr.csstransforms,
    yep: [AppPath+'/Scripts/lib/documentPlay/turn.js'],
    nope: [AppPath + '/Scripts/lib/documentPlay/turn.html4.min.js'],
    both: [AppPath + '/Style/documentPlay/main.css', AppPath + '/Scripts/lib/documentPlay/zoom.min.js', AppPath + '/Scripts/lib/documentPlay/hammer.min.js', AppPath + '/Scripts/myTrain/documentPlay.js', AppPath + '/Scripts/myTrain/documentPlayMain.js'],
    complete: loadResource
});
</script>
