body {
    overflow: hidden;
    background-color: #fcfcfc;
    margin: 0;
    padding: 0;
}
footer{
    display:none;
}
h1,h2,h3,h4,ul,ul li,span,img,em{
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-style: normal;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input[type="number"],
input[type="button"]{
    -moz-appearance:textfield;
    -webkit-appearance:textfield;
    -o-appearance:textfield;
}

input[type="button"],
button{
    border: none;
    background-color: transparent;  
}

.browserupgrade{
    position: absolute; 
    top: 13px;
}

#canvas {
  overflow: hidden;
}

.toolbars {
    height: 32px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9999;
    background-color: #474747;
    .toolbarButton {
        width: 26px;
        height: 26px;
        float: right;
        display: inline-block;
        margin-top: 3px;
        border: 0;
        outline-width: 0;
        margin-left: 5px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 5px;
    }
    .toolbarButton.toggled,
    .splitToolbarButton.toggled > .toolbarButton.toggled,
    .secondaryToolbarButton.toggled {
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3f000000,endColorstr=#3f000000);
        background-color: hsla(0, 0%, 0%, .3);
        background-image: linear-gradient(hsla(0, 0%, 100%, .05), hsla(0, 0%, 100%, 0));
        border-color: hsla(0, 0%, 0%, .4) hsla(0, 0%, 0%, .45) hsla(0, 0%, 0%, .5);
        box-shadow: 0 1px 1px hsla(0, 0%, 0%, .1) inset, 0 0 1px hsla(0, 0%, 0%, .2) inset, 0 1px 0 hsla(0, 0%, 100%, .05);
        -webkit-transition-property: background-color, border-color, box-shadow;
        -webkit-transition-duration: 10ms;
        -webkit-transition-timing-function: linear;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 10ms;
        transition-timing-function: linear;
    }
    .toolbarButton#sidebarToggle{
        background-image: url(../images/toolbarButton-sidebarToggle-rtl.png);
    }
    .toolbarButton.pageDown{
        background-image: url(../images/toolbarButton-pageDown.png);
        // @media screen and (min-resolution: 2dppx){
        //     background: transparent url(../images/toolbarButton-pageDown@2x.png);
        // }
    }
    .toolbarButton.pageUp{
        background-image: url(../images/toolbarButton-pageUp.png);
        // @media screen and (min-resolution: 2dppx){
        //     background: transparent url(../images/toolbarButton-pageUp@2x.png);
        // }
    }
    .toolbarLabel {
        color: #fff;
    }
    .toolbarField {
        width: 32px;
        height: 24px;
        padding: 0 6px;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0f000000,endColorstr=#0f000000);
        border: 1px solid #2C2C2C;
        border-radius: 2px;
        background-color: hsla(0, 0%, 100%, .09);
        background-image: linear-gradient(hsla(0, 0%, 100%, .05), hsla(0, 0%, 100%, 0));
        background-clip: padding-box;
        border: 1px solid hsla(0, 0%, 0%, .35);
        border-color: hsla(0, 0%, 0%, .32) hsla(0, 0%, 0%, .38) hsla(0, 0%, 0%, .42);
        box-shadow: 0 1px 0 hsla(0, 0%, 0%, .05) inset, 0 1px 0 hsla(0, 0%, 100%, .05);
        color: hsl(0, 0%, 95%);
        font-size: 12px;
        line-height: 24px;
        outline-style: none;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 150ms;
        transition-timing-function: ease;
    }
    .toolbarLabel{
        width: 48px;
        line-height: 26px;
    }
    .toolbarButton#presentationMode{
        border: 0;
        width: 32px;
        height: 25px;
        background-image: url(../images/toolbarButton-presentationMode.png);
    }
    .toolbarButton#singleReadingMode{
        background-image: url(../images/icon-single.png);
        background-position: 7px 5px;
    }
    .toolbarButton#doubleReadingMode{
        background-image: url(../images/icon-double.png);
        background-position: 8px 5px;
    }
    .toolbarButton#print{
        background-image: url(../images/icon-print.png);
    }
    .toolbarButton#print.conceal{
        opacity: 0.6;
        -webkit-opacity: 0.6;
        -moz-opacity: 0.6;
        filter: alpha(opacity=60);
    }
    .toolbarButtonSpacer {
        width: 30px;
        display: inline-block;
        height: 1px;
    }
    .toolbarButtonSiderContainer {
        width: 176px;
        float: right;
        display: inline-block;
        overflow: hidden;
        .toolbarButton {
          margin-right: 5px;
        }
        #viewThumbnail {
            background-image: url(../images/toolbarButton-viewThumbnail.png);
        }
        #viewOutline{
            background-image: url(../images/toolbarButton-viewOutline.png);
        }
    }
}

.viewport-pc{
    display: inline-block;
    float: left;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 840px;
        height: 600px;
        margin: auto;
        margin-top: 32px;
        .magazine {
            width: 840px;
            height: 600px;
            left: -420px;
            top: -300px;
            .page {
                width: 420px;
                height: 600px;
                background-color: white;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    .zoomer .region {
        display: none;
    }
    .container .magazine {
        .region {
            position: absolute;
            overflow: hidden;
            background: #0066FF;
            opacity: 0.2;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            cursor: pointer;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            filter: alpha(opacity=20);
            &:hover {
                opacity: 0.5;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                filter: alpha(opacity=50);
            }
            &.zoom {
                opacity: 0.01;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
                filter: alpha(opacity=1);
                &:hover {
                    opacity: 0.2;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
                    filter: alpha(opacity=20);
                }
            }
        }
        .page {
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            img {
                width: 100%;
                height: 100%;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                margin: 0;
            }
        }
        .even .gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.2)));
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
            background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
            background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
            background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
            background-image: linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
        }
        .odd .gradient {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.15)));
            background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
            background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
            background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
            background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
            background-image: linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
        }
    }
    .zoom-in {
        .even .gradient,
        .odd .gradient {
            display: none;
        }
    }
    .shadow {
        -webkit-transition: -webkit-box-shadow 0.5s;
        -moz-transition: -moz-box-shadow 0.5s;
        -o-transition: -webkit-box-shadow 0.5s;
        -ms-transition: -ms-box-shadow 0.5s;
        -webkit-box-shadow: 0 0 20px #ccc;
        -moz-box-shadow: 0 0 20px #ccc;
        -o-box-shadow: 0 0 20px #ccc;
        -ms-box-shadow: 0 0 20px #ccc;
        box-shadow: 0 0 20px #ccc;
    }
    .next-button,
    .previous-button {
        width: 22px;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
        display: inline-block !important;
    }
    .next-button {
        right: -22px;
        -webkit-border-radius: 0 15px 15px 0;
        -moz-border-radius: 0 15px 15px 0;
        -ms-border-radius: 0 15px 15px 0;
        -o-border-radius: 0 15px 15px 0;
        border-radius: 0 15px 15px 0;
        background-image: url(../images/arrows.png);
        background-position: -38px 284px;
        background-repeat: no-repeat;
    }
    .previous-button {
        left: -22px;
        -webkit-border-radius: 15px 0 0 15px;
        -moz-border-radius: 15px 0 0 15px;
        -ms-border-radius: 15px 0 0 15px;
        -o-border-radius: 15px 0 0 15px;
        border-radius: 15px 0 0 15px;
        background-image: url(../images/arrows.png);
        background-position: -4px 284px;
        background-repeat: no-repeat;
    }
    .previous-button-hover,
    .next-button-hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .previous-button-hover {
        background-image: url(../images/arrows.png);
        background-position: -4px 284px;
        background-repeat: no-repeat;
    }
    .previous-button-down {
        background-image: url(../images/arrows.png);
        background-position: -4px 284px;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .next-button-down {
        background-color: rgba(0, 0, 0, 0.4);
    }
    .next-button-hover,
    .next-button-down {
        background-image: url(../images/arrows.png);
        background-position: -38px 284px;
        background-repeat: no-repeat;
    }
    .zoom-in {
        .next-button,
        .previous-button {
            display: none;
        }
    }

}

.viewport-pc .container .magazine.originalImg .page{
    overflow-y: auto;
    img{
        height: auto;
    }
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: url(../images/loader.gif) no-repeat;
    background-size: 100%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 9999999;
}

.animated {
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -ms-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}

.exit-message {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 10000;
    > div {
        width: 140px;
        height: 30px;
        margin: auto;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        font: 12px arial;
        line-height: 30px;
        color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
    }
}

.zoom-icon {
    position: absolute;
    z-index: 1000;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-image: url(../images/zoom-icons.png);
    background-size: 88px 22px;
}

.zoom-icon-in {
    background-position: 0 0;
    cursor: pointer;
    &.zoom-icon-in-hover {
        background-position: -22px 0;
        cursor: pointer;
    }
}

.zoom-icon-out {
    background-position: -44px 0;
    &.zoom-icon-out-hover {
        background-position: -66px 0;
        cursor: pointer;
    }
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*目录*/
.thumbnails{
    position: absolute;
    display: inline-block;
    background-color: #383838;
    width: 220px;
    color: #CECFCF;
    margin-top: 32px;
    > div{
        width: 100%;
        height: 94%; //IE
        height: calc(100% - 32px);
        height: -webkit-calc(100% - 32px);
        height: -moz-calc(100% - 32px);
        height: -ms-calc(100% - 32px);
        height: -o-calc(100% - 32px);
        margin: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        h2{
            border-top: 1px solid #383838;
            font-size: 14px;
            height: 45px;
            line-height: 45px;
            background: #535353;
            padding-left: 21px;
            cursor: pointer;
            .icon{
                display: block;
                background-image: url(../images/title-icon.png);
                background-size: 19px;
                width: 19px;
                height: 19px;
                float: left;
                margin-top: 12px;
                margin-right: 10px;
            }
            .arrow{
                /*display: block;*/
                display:none;
                background-image: url(../images/arrows-down.png);
                background-size: 21px 12px;
                width: 21px;
                height: 12px;
                float: right;
                margin-top: 15px;
                margin-right: 10px;
            }
        }
        ul{
            display: none;
            li{
                list-style: none;
                h3{
                    font-size: 10px;
                    cursor: pointer;
                    margin: 10px 0 10px 25px;
                }
            }
        }
        .cover-pic{
            display: block;
            width: 108px;
            margin: 15px auto;
            text-align: center;
            .pic-list{
                float: left;
                em{
                    display: none;
                }
            }
            span{
                display: block;
                clear: both;
            }
        }
    }

    .books-catalog.activate{
        h2{
            color: #04BDBF;
            .icon{
                background-image: url(../images/title-icon-activate.png);
                background-size: 19px;
            }
        }
    }

    .title-hover{
        color: #04BDBF;
    }

    .current {
        -webkit-box-shadow: 0 0 10px #04BDBF;
        -moz-box-shadow: 0 0 10px #04BDBF;
        -ms-box-shadow: 0 0 10px #04BDBF;
        -o-box-shadow: 0 0 10px #04BDBF;
        box-shadow: 0 0 10px #04BDBF;
        border: 1px solid #04BDBF;
    }

    .thumb-hover {
        max-width:100%;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        -moz-transform: scale3d(1.2, 1.2, 1);
        -o-transform: scale3d(1.2, 1.2, 1);
        -ms-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }

}

/*单页目录*/
.thumbnails.single_page{
    .cover-pic{
        .pic-list{
            float: inherit;
            margin-bottom: 15px;
            -webkit-transition: -webkit-transform 60ms;
            -moz-transition: -webkit-transform 60ms;
            -o-transition: -webkit-transform 60ms;
            -ms-transition: -webkit-transform 60ms;
            transition: -webkit-transform 60ms;
            em{
                display: block;
            }
        }
        span{
            display: none;
        }
    }
}

/*双页目录*/
.thumbnails.double_page{
    img{
        float: left;
    }
    .cover-pic{
        -webkit-transition: -webkit-transform 60ms;
        -moz-transition: -webkit-transform 60ms;
        -o-transition: -webkit-transform 60ms;
        -ms-transition: -webkit-transform 60ms;
        transition: -webkit-transform 60ms;
    }

}

#outlines {
    /*display: none;*/
      display:block;
}



/* phone css */
.main{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
}

.viewport-phone{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    .sideslip{
        border: none;
        width: 44px;
        height: 36px;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 999;
        background: url(../images/icon-sideslip.png) no-repeat center;
        background-size: 65%;
        outline: none;
    }
    .page{
       ////background-color:white;
       background-color: #E6E6E6;
       -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
        box-shadow:0 0 20px rgba(0,0,0,0.2);
        img{
            width: 100%;
            margin:0;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            -webkit-transform: translate(0,-50%);
            -moz-transform: translate(0,-50%);
        }
    }
}

.viewport-phone .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc;
    -o-box-shadow:0 0 20px #ccc;
    -ms-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}


/*弹出窗口*/
.confirm {
    position: fixed;
    z-index: 16;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0 ,0, 0, 0.35);
    justify-content: center;
    align-items: center;
    > div {
        background: rgba(255, 255, 255, 0.9);
        width: 80%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
        h3{
            text-align: center;
            color: black;
            padding: 15px 0;
        }
        > div{
            a{
                border-top: 1px solid #cbcbd1;
                border-right: 1px solid #cbcbd1;
                color: #3bbec0;
                text-decoration: none;
                display: inline-block;
                width: calc( 50% - 1px );
                width: -webkit-calc( 50% - 1px );
                width: -moz-calc( 50% - 1px );
                line-height: 35px;
                text-align: center;
            }
        }
    }
}

.thumbnails.single_page.phone-thumbnails{
    position: fixed;
    top: 0;
    left: -160px;
    bottom: 0;
    z-index: 13;
    width: 160px;
    margin: 0;
    > div{
        height: 100%;
    }
    #outlines {
        display: block;
    }
}
