<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    
  </resultMaps>
  <statements>
    <insert id="Test.ExamResource.AddExamResource">
      INSERT INTO [TK_QuestionToResource]
      ([ContainerID]
      ,[ResourceID]
      ,[ContainerType]
      ,[ResourceSize]
      ,[Position])
      VALUES
      (#ContainerID#,#ResourceID#,#ContainerType#,#ResourceSize#,#Position#)
    </insert>
    <delete id="Test.ExamResource.Delete">
      DELETE FROM [TK_QuestionToResource] WHERE ContainerID=#ContainerID# and ResourceID=#ResourceID#
    </delete>
    <select id="Test.ExamResource.GetQuestionMaterialList">
      SELECT ResourceID FROM TK_QuestionToResource WHERE ContainerID=#value#
    </select>
    <select id="Test.ExamResource.GetTestpaperMaterialList">
      SELECT ResourceID FROM TK_QuestionToResource WHERE ContainerID=#value#
    </select>
  </statements>
</sqlMap>