<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <resultMap id="Test.TestPaper.ResultMap"  class="ETMS.Components.Exam.API.Entity.Test.TestPaper,ETMS.Components.Exam.API" >
      <result property="TestPaperID"        column="TestPaperID"/>
      <result property="TestPaperName"      column="TestPaperName"/>
      <result property="TestPaperType"      column="TestPaperType"/>
      <result property="TestPaperCategory"  column="TestPaperCategory"/>
      <result property="TestPaperDesc"      column="TestPaperDesc"/>
      <result property="TotalQuantity"      column="TotalQuantity"/>
      <result property="TotalScore"         column="TotalScore"/>
      <result property="PassedScore"        column="PassedScore"/>
      <result property="MaxCount"           column="MaxCount"/>
      <result property="MaxTime"            column="MaxTime"/>
      <result property="Status"             column="Status"/>
      <result property="ApproverID"         column="ApproverID"/>
      <result property="ApproveTime"        column="ApproveTime"/>
      <result property="ObjectID"           column="ObjectID"/>
      <result property="Subject"            column="Subject"/>
      <result property="UpdatedDate"        column="UpdatedDate"/>
      <result property="CreatedUserID"      column="CreatedUserID"/>
      <result property="CreatedDate"        column="CreatedDate"/>
    </resultMap>
    <resultMap id="Test.SearchTestPaper.ResultMap"  class="ETMS.Components.Exam.API.Entity.Test.TestPaper,ETMS.Components.Exam.API" >
      <result property="TestPaperID"        column="TestPaperID"/>
      <result property="TestPaperName"      column="TestPaperName"/>
      <result property="TestPaperType"      column="TestPaperType"/>
      <result property="OwnerName"          column="OwnerName"/>
      <result property="Status"             column="Status"/>
      <result property="CreatedUserID"      column="CreatedUserID"/>
      <result property="CreatedDate"        column="CreatedDate"/>
      <result property="UpdatedDate"        column="UpdatedDate"/>
    </resultMap>
    <resultMap id="Test.TestPaperUnit.ResultMap"  class="ETMS.Components.Exam.API.Entity.Test.TestPaperUnit,ETMS.Components.Exam.API" >
      <result property="QuestionType"       column="QuestionType"/>
      <result property="QuestionCount"      column="QuestionCount"/>
      <result property="QuestionScoreSum"   column="Score"/>
    </resultMap>
  </resultMaps>
  <statements>
    <insert id="Test.TestPaper.AddTestPaper">
      INSERT INTO [KS_TestPaper]
      ([TestPaperID],[TestPaperName],[TestPaperType],[TestPaperCategory],[TestPaperDesc],[TotalQuantity],[TotalScore],[PassedScore],
      [MaxCount],[MaxTime],[Status],[ApproverID],[ApproveTime],[ObjectID],[Subject],[IsDelete],[CreatedUserID],[CreatedDate],[ShareStatus])
      VALUES
      (#TestPaperID#,#TestPaperName#,#TestPaperType#,#TestPaperCategory#,#TestPaperDesc#,#TotalQuantity#,#TotalScore#,#PassedScore#,
      #MaxCount#,#MaxTime#,#Status#,#ApproverID#,#ApproveTime#,#ObjectID#,#Subject#,0,#CreatedUserID#,GETDATE(),1)
    </insert>
    <update id="Test.TestPaper.UpdateTestPaper">
      UPDATE [KS_TestPaper]
      SET [TestPaperName] = #TestPaperName#
      ,[TestPaperType] = #TestPaperType#
      ,[TestPaperCategory] = #TestPaperCategory#
      ,[TestPaperDesc] = #TestPaperDesc#
      ,[TotalQuantity] = #TotalQuantity#
      ,[TotalScore] = #TotalScore#
      ,[Status] = #Status#
      ,[ApproverID] = #ApproverID#
      ,[ApproveTime] = #ApproveTime#
      ,[ObjectID] = #ObjectID#
      ,[Subject] = #Subject#
      ,[UpdatedUserID] = #UpdatedUserID#
      ,[UpdatedDate] = GETDATE()
      WHERE [TestPaperID] = #TestPaperID#
    </update>
    <delete id="Test.TestPaper.DeleteTestPaper">
      <!--试卷基本信息-->
      UPDATE [KS_TestPaper]
      SET [IsDelete]=1,[UpdatedUserID]=#UpdatedUserID#,[UpdatedDate]=GETDATE()
      WHERE [TestPaperID]=#TestPaperID#
      <!--试卷与试题关系-->
      DELETE FROM [KS_TestToQuestion] WHERE [TestPaperID]=#TestPaperID#
      UPDATE [KS_Question]
      SET [IsDelete]=1
      WHERE [TestPaperID]=#TestPaperID#
      <!--试卷的反馈-->
      UPDATE [KS_TestFeedback]
      SET [IsDelete]=1,[UpdatedUserID]=#UpdatedUserID#,[UpdatedDate]=GETDATE()
      WHERE [TestPaperID]=#TestPaperID#
    </delete>
    <select id="Test.TestPaper.GetTestPaperByID" resultMap="Test.TestPaper.ResultMap">
      SELECT [TestPaperID],[TestPaperName],[TestPaperType],[TestPaperCategory],[TestPaperDesc],[TotalQuantity],[TotalScore]
      ,[PassedScore],[MaxCount],[MaxTime],[Status],[ApproverID],[ApproveTime],[ObjectID],[Subject],[UpdatedDate],[CreatedUserID],[CreatedDate]
      FROM [KS_TestPaper]
      WHERE [TestPaperID]=#value#
    </select>
    <update id="Test.TestPaper.UpdateQuestionsCount">
      UPDATE [KS_TestPaper]
      SET [TotalQuantity] = #TotalQuantity#
      ,[TotalScore] = #TotalScore#
      ,[UpdatedUserID] = #UpdatedUserID#
      ,[UpdatedDate] = GETDATE()
      WHERE [TestPaperID] = #TestPaperID#
    </update>
    <update id="Test.TestPaper.UpdateExamTimes">
      UPDATE [KS_TestPaper]
      SET [PassedScore] = #PassedScore#
      ,[MaxCount] = #MaxCount#
      ,[MaxTime] = #MaxTime#
      ,[UpdatedUserID] = #UpdatedUserID#
      ,[UpdatedDate] = GETDATE()
      WHERE [TestPaperID] = #TestPaperID#
    </update>
    <insert id="Test.TestPaper.CopyTKQuestionData" parameterClass="guid">
      exec pr_Exam_COPY_TK_Questions_DATA '$value$'
    </insert>
    <procedure id="Test.TestPaperSearch.GetResults" resultMap="Test.SearchTestPaper.ResultMap" parameterMap="Common.PagingParm">
      pr_Exam_sp_super_page
    </procedure>

    <select id="Test.TestPaper.GetSeniorRandomTestpaperSchema" resultMap="Test.TestPaperUnit.ResultMap">
      SELECT a.QuestionType,ISNULL(SUM(a.QuestionCount),0) QuestionCount, ISNULL(SUM(a.QuestionCount*a.QuestionScore),0) as Score FROM (
      SELECT [QuestionType],ISNULL(LowSelectQty,0)+ISNULL(MediumSelectQty,0)+ISNULL(HighSelectQty,0) as QuestionCount,QuestionScore
      FROM [KS_TestPaperRule]
      WHERE [TestPaperID]=#TestPaperID#
      ) a
      GROUP BY a.QuestionType
      ORDER BY a.QuestionType
    </select>
    <select id="Test.TestPaper.GetCommonTestpaperSchema" resultMap="Test.TestPaperUnit.ResultMap">
      SELECT [QuestionType],COUNT(QuestionID) as QuestionCount,ISNULL(SUM(QuestionScore),0) AS Score
      FROM [KS_TestToQuestion]
      WHERE [TestPaperID]=#value#
      GROUP BY [QuestionType]
      ORDER BY QuestionType
    </select>
    <update id="Test.TestPaper.SetShareState">
      UPDATE [KS_TestPaper]
      SET ShareStatus=#ShareState#,UpdatedUserID=#UpdatedUserID#,UpdatedDate=GETDATE()
      WHERE TestPaperID=#TestPaperID#
    </update>
    <update id="Test.TestPaper.SetAuditState">
      UPDATE [KS_TestPaper]
      SET Status=#AuditState#,UpdatedUserID=#UpdatedUserID#,UpdatedDate=GETDATE()
      WHERE TestPaperID=#TestPaperID#
    </update>
    <select id="Test.PaperQuestion.GetQuestionByType" resultMap="LMS.IDName.ResultMap">
      SELECT B.QuestionID,B.QuestionTitle 
      FROM KS_TestToQuestion A INNER JOIN TK_Question B ON A.QuestionID=B.QuestionID
      WHERE A.TestPaperID=#TestpaperID# AND A.QuestionType=#QuestionType#
      ORDER BY A.ItemSequence
    </select>
    <update id="Test.TestPaper.SetFixTestPaperScoreAndCount">
      UPDATE KS_TestPaper
      SET TotalQuantity=A.QuestionCount,TotalScore=A.Score,UpdatedUserID=#UpdatedUserID#,UpdatedDate=GETDATE()
      FROM (
      SELECT COUNT(QuestionID) as QuestionCount,ISNULL(SUM(QuestionScore),0) AS Score
      FROM [KS_TestToQuestion]
      WHERE [TestPaperID]=#TestPaperID#
      ) A
      WHERE [TestPaperID]=#TestPaperID#
    </update>
    <update id="Test.TestPaper.SetTestPaperCategoryID">
      UPDATE [KS_TestPaper]
      SET TestPaperCategory=#CategoryID#,UpdatedUserID=#UpdatedUserID#,UpdatedDate=GETDATE()
      WHERE TestPaperID in ($TestPaperIDs$)
    </update>
  </statements>
</sqlMap>