<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <resultMap id="TestToQuestion.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.TestToQuestion,ETMS.Components.Exam.API">
      <result property="TestPaperID" column="TestPaperID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="ItemSequence" column="ItemSequence" />
      <result property="QuestionScore" column="QuestionScore" />
      <result property="CreatedUserID" column="CreatedUserID" />
      <result property="CreatedDate" column="CreatedDate" />
    </resultMap>
  </resultMaps>
  <statements>
    <statement id="TestToQuestion.Insert">
      Insert Into KS_TestToQuestion
      (TestPaperID,QuestionID,ItemSequence,QuestionScore,CreatedUserID,CreatedDate)
      values(#TestPaperID#,#QuestionID#,#ItemSequence#,#QuestionScore#,#CreatedUserID#,GETDATE())
    </statement>
    <statement id="TestToQuestion.Update">
      Update KS_TestToQuestion Set ItemSequence=#ItemSequence#,QuestionScore=#ItemSequence#
      Where QuestionID=#QuestionID# and TestPaperID=#TestPaperID#
    </statement>
    <statement id="TestToQuestion.Delete">
      Delete From KS_TestToQuestion Where QuestionID=#QuestionID# and TestPaperID=#TestPaperID#
    </statement>
    <statement id="TestToQuestion.Deletes">
      Delete From KS_TestToQuestion Where TestPaperID=#TestPaperID#
    </statement>
    <statement id="TestToQuestion.GetByID" resultMap="QuestionExtend.ResultMap">
      Select * From KS_TestToQuestion Where QuestionID=#QuestionID# and TestPaperID=#TestPaperID#
    </statement>
    <statement id="TestToQuestion.IsExist" resultClass="int">
      Select Count(*) From KS_TestToQuestion Where QuestionID=#QuestionID# and TestPaperID=#TestPaperID#
    </statement>
    <statement id="TestToQuestion.TotalScore" resultClass="double">
      Select SUM(QuestionScore) From KS_TestToQuestion Where TestPaperID=#TestPaperID#
    </statement>
    <statement id="TestToQuestion.GetValidSequence" resultClass="int">
      Select 
      isnull(Min(ItemSequence)+1,1)
      From KS_TestToQuestion Where
      ItemSequence not in(Select a.ItemSequence-1 From KS_TestToQuestion a)
    </statement>
  </statements>
</sqlMap>
