<header>
    <div class="head">
        <p class="head_title">
            <a href="http://10.96.142.126:9001/Studying/Index.aspx" target="_blank">职业培训平台</a>
        </p>
    </div>
</header>
<div id="body">
    <div class="bodydiv">
        <div class="h1">
            ETMS Mobile API接口
        </div>
        <div class="h2">具体接口说明请参考相关文档</div>
    </div>
</div>
<footer class="footerdiv">
    <p>© 2016 - OPEN</p>
</footer>
