<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <!--用户基本信息映射-->
    <resultMap id="Test.TestFeedback.ResultMap" class="ETMS.Components.Exam.API.Entity.Test.TestFeedback,ETMS.Components.Exam.API">
      <result property="FeedbackID" column="FeedbackID" />
      <result property="TestPaperID" column="TestPaperID" />
      <result property="BeginScore" column="BeginScore" />
      <result property="EndScore" column="EndScore" />
      <result property="Content" column="Content" />
    </resultMap>
  </resultMaps>
  <parameterMaps>
  </parameterMaps>
  <statements>
    <!--添加一个答题反馈项-->
    <statement id="Test.TestFeedback.Add">
      INSERT INTO KS_TestFeedback
      (FeedbackID,TestPaperID,
      BeginScore,EndScore,Content,
      IsDelete,CreatedUserID,CreatedDate)
      VALUES
      (
      #TestFeedback.FeedbackID#,#TestFeedback.TestPaperID#,
      #TestFeedback.BeginScore#,#TestFeedback.EndScore#,#TestFeedback.Content#,
      0,#UserID#,GETDATE()
      )
    </statement>
    <!--更新一个答题反馈项-->
    <statement id="Test.TestFeedback.Update">
      UPDATE KS_TestFeedback
      SET
      TestPaperID=#TestFeedback.TestPaperID#,
      BeginScore=#TestFeedback.BeginScore#,EndScore=#TestFeedback.EndScore#,Content=#TestFeedback.Content#,
      UpdatedUserID=#UserID#,UpdatedDate=GETDATE()
      WHERE FeedbackID=#TestFeedback.FeedbackID#
    </statement>
    <!--删除指定ID的答题反馈项-->
    <statement id="Test.TestFeedback.Delete">
      UPDATE KS_TestFeedback
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE FeedbackID=#TestFeedbackID# AND IsDelete =0
    </statement>
    <!--删除指定试卷中所有答题反馈项-->
    <statement id="Test.TestFeedback.DeleteAllInPaper">
      UPDATE KS_TestFeedback
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE TestPaperID =#TestPaperID# AND IsDelete =0
    </statement>
    <!---获取指定试卷中的所有答题反馈项-->
    <statement id="Test.TestFeedback.FindTestFeedbacksInPaper" resultMap="Test.TestFeedback.ResultMap">
      SELECT
      FeedbackID,TestPaperID,
      BeginScore,EndScore,Content
      FROM KS_TestFeedback
      WHERE TestPaperID =#value# AND IsDelete =0
      Order By BeginScore
    </statement>
  </statements>
</sqlMap>