<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。

    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中

-->
<appSettings>
  <!--勿动，8位长度字符-->
  <add key="RgbKeys" value="Mooc2014"/>
  <add key="tempdir" value="/tempdir"/>
  
  <!-- 应用中的异常是否显示完整信息 -->
  <add key="System.ApplicationException.ShowMore" value="true"/>
  <!-- 系统配置 -->
  <add key="System.ApplicationName" value="后台管理系统"/>
  <!-- 系统默认密码,请在系统出生时使用！ -->
  <add key="Security.DefaultPassword" value="888888"/>
  <!-- 安全是否启用安全的url
  何为安全的url：如果页面有参数，则防止参数篡改！
  -->
  <add key="Security.IsEnableSafeUrl" value="true"/>
  <!--分页默认每页显示的纪录数量-->
  <add key="PageSize" value="10"/>
  <!-- 静态资源根目录 -->
  <add key="StaticResourceRoot" value="~/App_Themes/ThemeAdmin"/>


  <!-- 课件路径 -->
  <add key="CourseWareHost" value="http://localhost:8104"/>
  <!-- Fckeditor配置 
  FCKeditor:BasePath web组件存放位置根路径
  FCKeditor:SkinPath 指定皮肤
  -->
  <add key="FCKeditor:BasePath" value="~/Tools/FCKeditor/"/>
  <add key="FCKeditor:SkinPath" value="~/Tools/FCKeditor/Editor/Skins/office2003/"/>

  <!--RAR压缩工具执行应用文件路径-->
  <add key="RarPath" value="C:\Program Files\WinRAR\WinRAR.exe"/>
  <add key="UnPressUrl" value="http://10.96.142.74:8010/service/UnCompress.asmx"/>
  <!--可转为百度文库的格式-->
  <add key="TransferPattern" value=".doc;.docx;.dotx;.dotm;.dot;.txt;.rtf;.xls;.xlsx;.xlsm;.xml;.ppt;.pptx;.pptm;.potx;.ppsx;.ppsm;.potm;.pdf;"/>
  <!-- FTP上传文件配置 -->
  <!--<add key="FtpServer" value="ftp://10.100.133.159"/>
  <add key="FtpUser" value="yzx"/>
  <add key="FtpPassword" value="open2012"/>-->

  <add key="FtpServer" value="ftp://10.96.142.74"/>
  <add key="FtpUser" value="xinyb"/>
  <add key="FtpPassword" value="123456"/>
  <add key="FtpPort" value="21"/>
  <!--Scorm 上传文件格式-->
  <add key="FtpScromAllowType" value="rar,zip"/>
  <!--非Scorm 上传文件格式-->
  <add key="FtpAllowType" value="swf,flv,mp4"/>
  <!--上传文件大小限制，单位:M -->
  <add key="FtpMaxSize" value="1024"/>

  <!-- 1:岗位、职级; 2：部门、职级； 3：部门、岗位、职级-->
  <add key="StudyMapType" value="3"/>

  <!-- 公共论坛首页 -->
  <add key="PublicBBS.HomeUrl" value="http://localhost:8108/WebSite/index.aspx"/>
  <!-- 课程论坛首页 -->
  <add key="CourseBBS.HomeUrl" value="http://localhost:8109/WebSite/ForumHome.aspx?ForumID={0}"/>
  <!-- 班级论坛首页 -->
  <add key="ClassBBS.HomeUrl" value="http://localhost:8110/WebSite/ForumHome.aspx?ForumID={0}"/>
 
  <!-- 报表系统 域名端口-->
  <add key="ReportingUrl" value="http://localhost:8108/" />
  
  <!--直播配置-->
  <add key="OnlinePlayingServiceUrl" value="http://open.gensee.com/integration/services/SaService"/>
  <add key="OnlinePlayingUser" value="admin@open.com"/>
  <add key="OnlinePlayingPassword" value="open321"/>
  <add key="OnlinePlayingSite" value="open.gensee.com"/>
  
  <!--小班直播TK-->
  <add key="TKLiveDomain" value="xdfylw" />
  <add key="TKLiveRoot" value="http://global.talk-cloud.net/WebAPI/" />
  <!--企业id-->
  <add key="TKKey" value="KLKCaWP8YL5bCmJB" />
  <!--视频分辨率 0：流畅   1：标清 2：高清   3：超清-->
  <add key="VideoType" value="1" />
  <!--帧率10,15,20,25,30-->
  <add key="VideoFramerate" value="20" />
  <!--自动开启音视频0: 不自动开启  1：自动开启-->
  <add key="AutoOpenav" value="1" />
  <!--默认老师、助教、巡教密码, 三者不能重复-->
  <add key="ChairmanPwd" value="666666" />
  <add key="SssistantPwd" value="888888" />
  <add key="PatrolPwd" value="111111" />
  <!-- 
  JobService Host 加载启用
  注意：负载均衡部署方式下，确保仅有一个站点实例加载服务！
  -->
  <add key="JobService.Enable" value="false"/>

  <add key="PlatTitle" value="职业培训平台"/>
  <add key="CopyRight" value="Copyright 2012  北京跬步教育科技有限公司"/>
  
  <!--视频转码地址-->
  <add key="TransCodingUrl" value="http://10.96.142.74:8091"/>
  <add key="TransCodingStream" value="TVMP4SD,TVMP4XLD"/>
  <!--视频预览码流-->
  <add key="CodingStream" value="TVMP4SD"/>
  <!--PDF转码地址-->
  <add key="FileAPIUrl" value="http://localhost:10137"/>

  <!--直播信息 2017-->
  <add key="LiveRoot" value="http://api.talk-fun.com/portal.php"/>
  <add key="LiveOpenID" value="11425"/>
  <add key="LiveOpenToken" value="1be0e2ce2411a4386da9e8dd44d51a77"/>
  <add key="LiveVersion" value=".net.1.4"/>

  <!--默认开放课程资源数-->
  <add key="OpenResourceNum" value="1"/>
</appSettings>
