<?xml version="1.0" encoding="utf-8"?>
<!--
业务缓存

enabled：是否启用，取值true/false
name：业务缓存项名称，请在ETMS.Components.Basic.Implement.BLL.Caching.BizCacheItemEnum中枚举
cacheKey：缓存键名，不能重复
cacheDuration：缓存时长（天数.小时:分钟:秒 TimeSpan格式）
description:缓存描述
-->
<bizCache>
  <bizCacheItem enabled="true" name="PageUrls" cacheKey="PageUrls" cacheDuration="01:00:00" description="参与权限控制的页面集合"/>
  <bizCacheItem enabled="true" name="RolePageUrls" cacheKey="RolePageUrls/{0}" cacheDuration="01:00:00" description="角色授予的权限控制的页面集合"/>
  <bizCacheItem enabled="true" name="UserPageUrls" cacheKey="UserPageUrls/{0}" cacheDuration="01:00:00" description="用户授予的权限控制的页面集合"/>
  <bizCacheItem enabled="true" name="SysDic" cacheKey="SysDic/{0}" cacheDuration="00:05:00" description="系统字典相关"/>
  <bizCacheItem enabled="true" name="Notify_MessageTemplateConfig" cacheKey="Notify_MessageTemplateConfig/{0}" cacheDuration="01:00:00" description="消息提醒模板配置集合"/>
  <bizCacheItem enabled="true" name="Notify_MessageClassDefines" cacheKey="Notify_MessageClassDefines/{0}" cacheDuration="01:00:00" description="消息提醒类别定义集合"/>
  <bizCacheItem enabled="true" name="CourseExContestCount" cacheKey="CourseExContestCount/{0}" cacheDuration="00:05:00" description="课程闯关竞赛数量"/>
</bizCache>