<?xml version="1.0" encoding="utf-8" ?>
<dataBaseSettings>
  <!-- 开发库 -->
  <add key="ETMS_Read" value="Data Source=10.96.142.126;Initial Catalog=ETMS2;Persist Security Info=True;User ID=etms; Password=open2012;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />
  <add key="ETMS_Write" value="Data Source=10.96.142.126;Initial Catalog=ETMS2;Persist Security Info=True;User ID=etms; Password=open2012;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />
  <add key="Logging_Read" value="Data Source=10.96.142.126;Initial Catalog=ETMS2;Persist Security Info=True;User ID=etms; Password=open2012;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />
  <add key="Logging_Write" value="Data Source=10.96.142.126;Initial Catalog=ETMS2;Persist Security Info=True;User ID=etms; Password=open2012;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />
  <add key="Exam_Read" value="Data Source=10.96.142.126;Initial Catalog=ETMS2;Persist Security Info=True;User ID=etms; Password=open2012;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;"/>
  <add key="Exam_Write" value="Data Source=10.96.142.126;Initial Catalog=ETMS2;Persist Security Info=True;User ID=etms; Password=open2012;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;"/>
  
  <!--生产库
  <add key="ETMS_Read" value="Data Source=39.106.72.85;Initial Catalog=ETMS;Persist Security Info=True;User ID=etms; Password=1QAZXSW@;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />
  <add key="ETMS_Write" value="Data Source=39.106.72.85;Initial Catalog=ETMS;Persist Security Info=True;User ID=etms; Password=1QAZXSW@;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />

  <add key="Logging_Read" value="Data Source=39.106.72.85;Initial Catalog=ETMS;Persist Security Info=True;User ID=etms; Password=1QAZXSW@;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />
  <add key="Logging_Write" value="Data Source=39.106.72.85;Initial Catalog=ETMS;Persist Security Info=True;User ID=etms; Password=1QAZXSW@;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;" />

  <add key="Exam_Read" value="Data Source=39.106.72.85;Initial Catalog=ETMS;Persist Security Info=True;User ID=etms; Password=1QAZXSW@;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;"/>
  <add key="Exam_Write" value="Data Source=39.106.72.85;Initial Catalog=ETMS;Persist Security Info=True;User ID=etms; Password=1QAZXSW@;Min Pool Size=1;Connection Lifetime=0;Max Pool Size=50;Connection Reset=false;Pooling= true;"/>
  -->
</dataBaseSettings>