<?xml version="1.0" encoding="utf-8" ?>
<excludeSafeUrlSettings>
  <add key="上传" value="/Controls/UploadHandler.ashx"></add>
  <add key="UEditor编辑器" value="/Tools/ueditor/"></add>
  <add key="视频转码回调" value="/Resource/CourseManage/VideoTranscoding.ashx"></add>
  <add key="PDF转码回调" value="/Services/Pdf2ImageHandler.ashx"></add>
</excludeSafeUrlSettings>