<?xml version="1.0"?>
<log4net debug="false">

  <!-- 调试、异常日志-“文件”记录器 -->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <!-- 调试、异常日志-“文件”记录器 -->
  <appender name="JobServiceRollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/JobLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <!-- 系统异常日志-“数据库”记录器 -->
  <appender name="ErrorLog_AdoNetAppender" type="ETMS.Utility.Logging.ErrorLogAdoNetAppender,ETMS.Utility">
    <!--依赖的数据库链接名称-->
    <connectionStringName value="ETMS_Write"/>
    <bufferSize value="1"/>
  </appender>
  <!-- 业务日志-“数据库”记录器 -->
  <appender name="BizLog_AdoNetAppender" type="ETMS.Utility.Logging.BusinessLogAdoNetAppender,ETMS.Utility">
    <!-- 依赖的数据库链接名称 -->
    <connectionStringName value="ETMS_Write"/>
    <bufferSize value="1"/>
  </appender>

  <!-- 日志文件记录异常 -->
  <root>
    <level value="ERROR" />
  </root>

  <!-- 系统异常日志，固定：日志名称
       系统异常：包括各种未处理的异常，统一由错误模块来拦截，保存到数据库
  -->
  <logger name="ApplicationSystemError">
    <!--信息级别仅限(ERROR)-->
    <level value="ERROR" />
    <appender-ref ref="ErrorLog_AdoNetAppender" />
    <appender-ref ref="RollingFileAppender" />
  </logger>

  <!-- Job日志 -->
  <logger name="JobService">
    <level value="INFO" />
    <appender-ref ref="JobServiceRollingFileAppender" />
  </logger>

  <!-- 业务操作日志 -->
  <logger name="ETMS.Components">
    <!--信息级别仅限(FATAL)-->
    <level value="FATAL" />
    <appender-ref ref="BizLog_AdoNetAppender" />
  </logger>

</log4net>
