<?xml version='1.0' encoding='utf-8' ?>
<sitePath>
  <sitePathNode url='ChangeUserInfo.aspx' title='个人信息'  description='' />
  <sitePathNode url='' title='基础管理'  description='' >
    <sitePathNode url='' title='系统配置' description=''>
      <sitePathNode url='~/Security/SysConfig/OrgSetting.aspx' title='系统配置' description=''/>
      <sitePathNode url='~/Security/Sysconfig/NotifyOrgConfig.aspx' title='消息模板' description=''/>
      <sitePathNode url='~/Security/CacheManager/Default.aspx' title='系统缓存' description=''/>
      <sitePathNode url='~/Security/Organization/default.aspx' title='机构管理'  description=''  />
      <sitePathNode url='~/Security/Organization/ChangeOrgInfo.aspx' title='机构信息'  description=''  />
    </sitePathNode>
    <sitePathNode url='' title='权限管理'  description='' >
      <sitePathNode url='~/Security/Role/default.aspx' title='角色管理'  description=''  />
      <sitePathNode url='~/Security/User/default.aspx' title='用户管理'  description=''  />
      <sitePathNode url='~/Dictionary/Agency/Default.aspx' title='代理商管理'  description='' >
        <sitePathNode url='~/Dictionary/Agency/AgencyCourseList.aspx' title='代理商课程'  description=''  />
      </sitePathNode>      
    </sitePathNode>
    <sitePathNode url='' title='学员管理' description=''>
      <sitePathNode url='~/Security/Department/default.aspx' title='部门管理'  description=''  />
      <sitePathNode url='~/Dictionary/Dic_Post/Default.aspx' title='岗位管理'  description=''  />
      <sitePathNode url='~/Security/StudentManager/Default.aspx' title='学员管理'  description=''  />
    </sitePathNode>
    <sitePathNode url='' title='讲师管理'  description='' >            
      <sitePathNode url='~/Security/ProfessorManage/ProfessorListOutside.aspx' title='讲师管理'  description='' />
      <sitePathNode url='~/Security/ProfessorManage/ProfessorListInner.aspx' title='内部讲师' description='' >
        <sitePathNode url='~/Security/ProfessorManage/ProfessorAddInner.aspx' title='新增讲师' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Security/ProfessorManage/TeachingCourse.aspx' title='讲授课程' description=''>
        <sitePathNode url='~/Security/ProfessorManage/TeachingCourseAdd.aspx' title='新增授课' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Security/MentorManage/MentorList.aspx' title='导师管理' description=''>
        <sitePathNode url='~/Security/MentorManage/MentorListAdd.aspx' title='新增导师' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Security/TeacherQuery/TeacherList.aspx' title='讲师综合信息查询' description=''>
        <sitePathNode url='~/Security/TeacherQuery/TeacherTeachCourseList.aspx' title='负责课程明细' description=''>
          <sitePathNode url='~/Security/TeacherQuery/TeacherTeachCourseView.aspx' title='课程信息' description=''/>
        </sitePathNode>
        <sitePathNode url='~/Security/TeacherQuery/TeacherItemList.aspx' title='参与项目明细' description=''>
          <sitePathNode url='~/Security/TeacherQuery/TeacherItemView.aspx' title='项目信息' description=''/>
        </sitePathNode>
        <sitePathNode url='~/Security/TeacherQuery/TeacherTraningItemCourseList.aspx' title='负责项目总课次明细' description=''/>
        <sitePathNode url='~/Security/TeacherQuery/TeacherTraningItemCourseHoursList.aspx' title='负责项目总课时安排明细' description=''/>
      </sitePathNode>
      <sitePathNode url='~/TraningOrgManager/TraningOrgManager/TraningOrgList.aspx' title='培训机构管理'  description=''  >
        <sitePathNode url='~/TraningOrgManager/TraningOrgManager/CousreManage.aspx' title='课程管理' description=''/>
        <sitePathNode url='~/TraningOrgManager/TraningOrgManager/TrainingOrgTeacherList.aspx' title='讲师' description=''/>
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='' title='教室管理' description=''>
      <sitePathNode url='~/Resource/ClassRoomManage/ClassRoomList.aspx' title='教室管理'  description=''  />
    </sitePathNode>
    <sitePathNode url='' title='应用管理'  description='' >
      <sitePathNode url='~/Security/FunctionGroup/default.aspx' title='功能组管理'  description=''  />
      <sitePathNode url='~/Security/FunctionGroup_Function/default.aspx' title='功能组功能管理'  description=''  />
      <sitePathNode url='~/Security/InnerRole/default.aspx' title='内置角色管理'  description=''  />
      <sitePathNode url='~/Security/SysConfig/Default.aspx' title='系统配置管理'  description=''  />
      <sitePathNode url='~/Security/Sysconfig/NotifyConfig.aspx' title='消息模板管理'  description=''  />
      <sitePathNode url='~/Security/SysExceptionLog/Default.aspx' title='系统异常日志'  description=''  />
    </sitePathNode>       
    <sitePathNode url='' title='字典管理' description=''>
      <sitePathNode url='~/Dictionary/CourseCatalog/Default.aspx?dicType=Dic_Sys_CourseType' title='课程类别'  description=''  />
      <sitePathNode url='~/Dictionary/Specialty/Default.aspx?dicType=Dic_Sys_SpecialtyType' title='专业类别'  description=''  />
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='资源管理'  description='' >
    <sitePathNode url='' title='课程信息'  description='' >
      <sitePathNode url='~/Resource/CourseManage/CourseList.aspx' title='课程信息'  description=''>
        <sitePathNode url='~/Resource/CourseManage/CourseView.aspx' title='查看课程' description=''></sitePathNode>
        <sitePathNode url='~/Resource/CourseManage/TeacherList.aspx' title='课程讲师管理' description=''></sitePathNode>
        <sitePathNode url='~/Resource/CourseManage/CourseDesign.aspx' title='课程设计' description=''></sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/Resource/CourseManage/TeacherCourseList.aspx' title='课程设计管理'  description=''>
        <sitePathNode url='~/Resource/CourseManage/CourseDesign.aspx' title='课程设计' description=''></sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/Resource/CourseOpenRange/CourseList.aspx' title='课程开放管理'  description=''>
        <sitePathNode url='~/Resource/CourseOpenRange/CourseView.aspx' title='查看课程' description=''></sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/Resource/CourseManage/CourseQuery.aspx' title='课程信息查询'  description=''  />
      <sitePathNode url='~/Living/CourseList.aspx' title='直播课程管理'  description=''>
        <sitePathNode url='~/Living/LivingList.aspx?' title='直播安排' description=''></sitePathNode>
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='' title='知识库'  description='' >
      <sitePathNode url='~/Resource/CourseResource.aspx' title='知识综合查询'  description=''>
        <sitePathNode url='~/Resource/CoursewareManage/ResourceCoursewareList.aspx' title='课件管理'  description=''></sitePathNode>
        <sitePathNode url='~/QuestionDB/ExOnlineHomework/ResourceExerciseList.aspx' title='作业管理'  description=''></sitePathNode>
        <sitePathNode url='~/QuestionDB/ExOnlineTest/ResourceExerciseList.aspx' title='测试管理'  description=''></sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/Resource/CoursewareManage/CoursewareList.aspx' title='课件管理'  description=''  />
      <sitePathNode url='~/QuestionDB/ExOnlineHomework/ExerciseList.aspx' title='作业管理'  description=''  >
        <sitePathNode url='~/QuestionDB/TestPaper/AddTestPaper.aspx?ExerciseType=3' title='出题'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/QuestionDB/ExOnlineTest/ExerciseList.aspx' title='测试管理'  description=''>
        <sitePathNode url='~/QuestionDB/TestPaper/AddTestPaper.aspx?ExerciseType=5' title='出题'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/Resource/Media/MediaList.aspx' title='媒体资源管理'  description=''></sitePathNode>
    </sitePathNode>
    <sitePathNode url='' title='题库'  description=''>
      <sitePathNode url='~/QuestionDB/SubjectQuestion.aspx' title='试题综合管理 '  description=''  />
      <sitePathNode url='~/QuestionDB/ExamSingleSelection.aspx' title='单选题管理'  description=''  />
      <sitePathNode url='~/QuestionDB/QuSingleSelection/QuestionList.aspx' title='单选题管理'  description=''  />
      <sitePathNode url='~/QuestionDB/ExamMultipleChoice.aspx' title='多选题管理'  description=''  />
      <sitePathNode url='~/QuestionDB/QuMultipleChoice/QuestionList.aspx' title='多选题管理'  description=''  />
      <sitePathNode url='~/QuestionDB/ExamJudgement.aspx' title='判断题管理'  description=''  />
      <sitePathNode url='~/QuestionDB/QuJudge/QuestionList.aspx' title='判断题管理'  description=''  />
      <sitePathNode url='~/QuestionDB/QuFillBlanks/QuestionList.aspx' title='填空题管理'  description=''  />
      <sitePathNode url='~/QuestionDB/QuQuestionAndAnswer/QuestionList.aspx' title='简答题管理'  description=''  />
    </sitePathNode>
    <sitePathNode url='' title='学习地图管理'  description='' >
      <sitePathNode url='~/Resource/ElearningMap/ElearningMapList.aspx' title='学习地图管理'  description='' >
        <sitePathNode url='~/Resource/ElearningMap/MapCourseList.aspx' title='已选课程'  description=''  />
        <sitePathNode url='~/Resource/ElearningMap/ChooseCourse.aspx' title='待选课程'  description=''  />
        <sitePathNode url='~/Resource/ElearningMap/EearningMapView.aspx' title='学习地图课程'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/Resource/ElearningMap/MapDataList.aspx' title='学习地图资料'  description=''  />
      <sitePathNode url='~/Resource/ElearningMap/ChooseData.aspx' title='学习地图待选资料'  description=''  />
      <sitePathNode url='~/IDP/IDPNotCourseDataList.aspx' title='非课程资料' description='' />
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='培训管理'  description='' >
    <sitePathNode url='' title='培训需求'  description='' >
      <sitePathNode url='~/Poll/ResourceQuery/Default.aspx?ResourceType=R2' title='培训需求调查管理'  description=''  >
        <sitePathNode url='~/Poll/QuestionManage/QuestionList.aspx?ResourceType=R2' title='题目管理' description=''/>
        <sitePathNode url='~/Poll/ResourceQuery/SetArea_R2.aspx' title='设置调查范围' description=''/>
        <sitePathNode url='~/Poll/ResourceQuery/SetsStudentAdd.aspx' title='选择学员' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Poll/ResourceQuery/StatDefault.aspx?ResourceType=R2' title='培训需求调查结果分析'  description=''>
        <sitePathNode url='~/poll/resourcequery/investdetail.aspx?resourcetype=r2' title='培训需求调查结果分析（已提交人数）' description=''/>
        <sitePathNode url='~/poll/resourcequery/uninvestdetail.aspx?resourcetype=r2' title='培训需求调查结果分析（未提交人数）' description=''/>
        <sitePathNode url='~/poll/resourcequery/queryuseralllist.aspx?resourcetype=r2' title='培训需求调查结果分析（调查总人数）' description=''/>
      </sitePathNode>
      <sitePathNode url='~/QS/Default.aspx?PollTypeID=2' title='培训需求调查管理（新版）'  description=''  >
        <sitePathNode url='~/QS/QuestionList.aspx?PollTypeID=2' title='题目管理' description=''/>
        <sitePathNode url='~/QS/SetArea_R2.aspx' title='设置调查范围' description=''/>
        <sitePathNode url='~/QS/SetsStudentAdd.aspx' title='选择学员' description=''/>
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='' title='培训计划'  description='' >
      <sitePathNode url='~/TraningPlan/TraningPlan/TraningPlanList.aspx' title='培训计划申请'  description='' >
        <sitePathNode url='~/TraningPlan/TraningPlan/SetsCourse.aspx' title='设置课程'  description='' >
          <sitePathNode url='~/TraningPlan/TraningPlan/SetsCourseAdd.aspx' title='新增课程'  description='' />
        </sitePathNode>
        <sitePathNode url='~/TraningPlan/TraningPlan/TraningPlanView.aspx' title='培训计划查看'  description='' />
      </sitePathNode>
      <sitePathNode url='~/TraningPlan/CoursePeriod/CourseList.aspx' title='培训计划课时安排管理'  description=''  />
      <sitePathNode url='~/TraningPlan/TraningPlanAudit/PlanAuditList.aspx' title='培训计划审核'  description=''  >
        <sitePathNode url='~/TraningPlan/TraningPlanAudit/PlanAudit.aspx' title='培训计划审核'  description=''  />
        <sitePathNode url='~/TraningPlan/TraningPlanAudit/PlanAuditView.aspx' title='培训计划查看'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/TraningPlan/TraningPlanResult/TraningPlanResultList.aspx' title='培训计划归档'  description=''  >
        <sitePathNode url='~/TraningPlan/TraningPlanResult/TraningPlanResultView.aspx' title='培训计划查看'  description=''  />
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='' title='培训实施'  description='' >
      <sitePathNode url='~/TraningImplement/TraningProjectManager/TraningProjectList.aspx' title='培训项目申请'  description=''  >
        <sitePathNode url='~/TraningImplement/TraningProjectManager/TraningProjectView.aspx' title='培训项目查看'  description=''  />
        <sitePathNode url='~/TraningImplement/TraningProjectManager/SetsCourse.aspx' title='设置课程'  description=''>
        </sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectManager/TrainingProjectPracticeList.aspx' title='项目实践管理'  description=''  />
      <sitePathNode url='~/TraningImplement/ProjectCourseResource/CourseList.aspx' title='项目课程资源'  description=''  >
        <sitePathNode url='~/TraningImplement/TraningProjectManager/SetsCourseAdd.aspx' title='添加课程'  description=''  />
        <sitePathNode url='~/TraningImplement/CourseTeacherManager/SetTeacher.aspx' title='讲师管理'  description='' />
        <sitePathNode url='~/TraningImplement/ProjectCourseResource/CourseWareList.aspx' title='在线课件'  description=''  >
          <sitePathNode url='~/TraningImplement/ProjectCourseResource/CourseWareAdd.aspx' title='新增在线课件'  description=''  />
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/ProjectCourseResource/OnLineHomeWork.aspx' title='在线作业'  description=''  >
          <sitePathNode url='~/TraningImplement/ProjectCourseResource/OnLineHomeWorkAdd.aspx' title='新增在线作业'  description=''  />
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/ProjectCourseResource/OnLineTest.aspx' title='在线测试'  description=''  >
          <sitePathNode url='~/TraningImplement/ProjectCourseResource/OnLineTestAdd.aspx' title='新增在线测试'  description=''  />
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/ProjectCourseResource/OffLineHomeWork.aspx' title='离线作业'  description=''  >
          <sitePathNode url='~/TraningImplement/ProjectCourseResource/ExcerciseStatus.aspx' title='批阅实践'  description=''  />
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/ProjectCourseResource/ArticleList.aspx' title='课程公告'  description=''  />
      <sitePathNode url='~/TraningImplement/ProjectCourseResource/GuidanceList.aspx' title='导学资料'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/CourseTeacherManager/CourseList.aspx' title='项目课程讲师'  description='' >
        <sitePathNode url='~/TraningImplement/CourseTeacherManager/CourseTeacherList.aspx' title='已选讲师'  description='' />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectManager/ChargeListConfig.aspx' title='项目费用标准'  description=''  >
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectManager/TraningProjectScoreStandard.aspx' title='项目课程考核标准'  description=''  >
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectAudit/TraningProjectList.aspx' title='培训项目审核'  description=''  >
        <sitePathNode url='~/TraningImplement/TraningProjectAudit/TraningProjectAudit.aspx' title='培训项目审核'  description=''  />
        <sitePathNode url='~/TraningImplement/TraningProjectAudit/TraningProjectAuditView.aspx' title='培训项目查看'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectManager/ProjectStudentList.aspx' title='管理项目学员'  description='' >
        <sitePathNode url='~/TraningImplement/TraningProjectManager/SetsStudentList.aspx' title='设置学员'  description=''  >
          <sitePathNode url='~/TraningImplement/TraningProjectManager/SetsStudentAdd.aspx' title='添加学员'  description=''  />
        </sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/StudentCourseManager/CourseList.aspx' title='项目课程学员管理'  description='' >
        <sitePathNode url='~/TraningImplement/StudentCourseManager/SetStudent.aspx' title='管理学员'  description='' />
        <sitePathNode url='~/TraningImplement/StudentCourseManager/CourseStudentList.aspx' title='已报名学员'  description='' />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectRelease/TraningProjectList.aspx' title='培训项目发布'  description='' >
        <sitePathNode url='~/TraningImplement/TraningProjectRelease/TraningProjectRelease.aspx' title='培训项目发布'  description='' />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/ProjectCoursePeriod/CourseList.aspx' title='项目课时安排管理'  description='' >
        <sitePathNode url='~/TraningImplement/ProjectCoursePeriod/CoursePeriodList.aspx' title='课时管理'  description='' >
          <sitePathNode url='~/TraningImplement/ProjectCoursePeriod/SetsStudentList.aspx' title='设置学员'  description='' >
            <sitePathNode url='~/TraningImplement/ProjectCoursePeriod/SetsStudentAdd.aspx' title='添加学员'  description='' />
          </sitePathNode>
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/ProjectCoursePeriod/CourseOnlinePlayingList.aspx' title='直播管理'  description='' >
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/ProjectCoursePeriod/CoursePeriodListView.aspx' title='课时查看'  description='' />
        <sitePathNode url='~/TraningImplement/ProjectCoursePeriodResult/CoursePeriodList.aspx' title='课时安排执行结果管理'  description='' />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectResult/TraningProjectList.aspx' title='培训项目归档管理'  description=''>        
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/TraningProjectQuery/TraningProjectList.aspx' title='培训项目查询'  description=''  >
        <sitePathNode url='~/TraningImplement/TraningProjectQuery/ProjectCourseList.aspx' title='项目课程'  description=''  >
          <sitePathNode url='~/TraningImplement/TraningProjectQuery/ProjectCourseStudentList.aspx' title='课程学员'  description=''  />
          <sitePathNode url='~/TraningImplement/TraningProjectQuery/ProjectCourseTeacherList.aspx' title='课程讲师'  description=''  />
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/TraningProjectQuery/ProjectStudentList.aspx' title='项目学员'  description=''  >
          <sitePathNode url='~/TraningImplement/TraningProjectQuery/ProjectStudentCourseList.aspx' title='项目学员课程'  description=''  />
        </sitePathNode>
        <sitePathNode url='~/TraningImplement/TraningProjectQuery/TraningProjectView.aspx' title='项目查看'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/ProjectCourseResourceQuery/CourseList.aspx' title='项目课程资源查询'  description=''  >
        <sitePathNode url='~/TraningImplement/ProjectCourseResourceQuery/CourseWareList.aspx' title='在线课件'  description=''  />
        <sitePathNode url='~/TraningImplement/ProjectCourseResourceQuery/OnLineHomeWork.aspx' title='在线作业'  description=''  />
        <sitePathNode url='~/TraningImplement/ProjectCourseResourceQuery/OnLineTest.aspx' title='在线测试'  description=''  />
        <sitePathNode url='~/TraningImplement/ProjectCourseResourceQuery/OffLineHomeWork.aspx' title='离线作业'  description=''  />
        <sitePathNode url='~/TraningImplement/ProjectCourseResourceQuery/ArticleList.aspx' title='导学资料'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/ProjectCoursePeriodQuery/CoursePeriodList.aspx' title='项目课时安排查询'  description=''>        
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/ProjectStudentAdjustment/TraningProjectList.aspx' title='项目学员调整'  description='' >
        <sitePathNode url='~/TraningImplement/ProjectStudentAdjustment/ProjectStudentAdjustment.aspx' title='设置学员'  description='' >
          <sitePathNode url='~/TraningImplement/ProjectStudentAdjustment/StudentAdd.aspx' title='新增学员'  description='' >
          </sitePathNode>
        </sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/CourseStudentManager/StudentList.aspx' title='项目学员课程调整'  description='' >
        <sitePathNode url='~/TraningImplement/CourseStudentManager/SetCourse.aspx' title='课程管理'  description='' />
      </sitePathNode>                
      <sitePathNode url='~/TraningImplement/TraningProjectAdjust/TraningProjectList.aspx' title='培训项目信息调整'  description=''  />
    </sitePathNode>
    <sitePathNode url='' title='学习管理'  description='' >
      <sitePathNode url='~/TraningImplement/SignInManager/TraningProjectList.aspx' title='管理签到'  description=''>
        <sitePathNode url='~/TraningImplement/SignInManager/ManagerSignIn.aspx' title='管理签到' description=''/>
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/AskApplyAudit/AskApplyAuditList.aspx' title='请假申请审批'  description=''  />
      <sitePathNode url='~/LearningManagement/ClassManager/ProjectList.aspx' title='班级管理'  description=''  >
        <sitePathNode url='~/LearningManagement/ClassManager/ClassList.aspx' title='班级管理' description='' />
        <sitePathNode url='~/LearningManagement/ClassManager/SetsStudentList.aspx' title='设置学员' description='' />
        <sitePathNode url='~/LearningManagement/ClassManager/StudentAdd.aspx' title='新增班级学员' description='' />
        <sitePathNode url='~/LearningManagement/GroupManager/GroupList.aspx' title='学习群组管理' description='' />
        <sitePathNode url='~/LearningManagement/GroupManager/SetsStudentList.aspx' title='设置组员' description='' />
        <sitePathNode url='~/LearningManagement/GroupManager/SetsStudentAdd.aspx' title='新增组员' description=''/>
      </sitePathNode>
      <sitePathNode url='~/LearningManagement/LearnProcessControl/LearnProcessControlList.aspx' title='学习过程监控'  description=''  >
        <sitePathNode url='~/LearningManagement/LearnProcessControl/StudentAllList.aspx' title='课程下全部学员'  description=''  />
        <sitePathNode url='~/LearningManagement/LearnProcessControl/StudentOpenLearnList.aspx' title='已开始学习学员'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/TraningImplement/ProjectCourseResource/GuidanceManager/ItemArticleList.aspx' title='导学资料'  description=''  />            
      <sitePathNode url='~/TraningImplement/ProjectCourseResource/ExOfflineHomework/ItemExcerciseList.aspx' title='离线作业管理'  description=''  />      
      <sitePathNode url='~/TraningImplement/ProjectCoursePeriod/OnlinePlayingList.aspx' title='直播课堂'  description=''  />
    </sitePathNode>
    <sitePathNode url="" title="培训测评" description="">
      <sitePathNode url='' title='成绩管理'  description='' >
        <sitePathNode url='~/QuestionDB/Marking/MarkingList.aspx' title='试卷评阅'  description=''  />
        <sitePathNode url='~/Grade/GradeManage/GradeEntryList.aspx' title='成绩管理'  description='' >
          <sitePathNode url='~/Grade/GradeManage/GradeEntry.aspx' title='录入成绩' description=''/>
        </sitePathNode>
        <sitePathNode url='~/Grade/GradePublish/GradePublishList.aspx' title='成绩发布'  description=''  />
        <sitePathNode url='~/Grade/GradePublish/GradePublish.aspx' title='成绩发布' descripton=''/>
        <sitePathNode url='~/Grade/GradeManage/GradeList.aspx' title='成绩查询'  description=''  />
        <sitePathNode url='~/Grade/GradeManage/GradeViewList.aspx' title='成绩查询'  description=''  />
        <sitePathNode url='~/Grade/GradeManage/OnlineTestList.aspx' title='测试异常监控'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/Grade/GradeManage/PracticeMarkingList.aspx' title='项目实践批阅'  description=''  />
    </sitePathNode>
    <sitePathNode url='' title='培训评估'  description='' >
      <sitePathNode url='~/Poll/ResourceQuery/Default.aspx?ResourceType=R1' title='满意度调查管理'  description='' >
        <sitePathNode url='~/Poll/ResourceQuery/SetArea_R1.aspx' title='设置调查范围' description=''/>
        <sitePathNode url='~/Poll/QuestionManage/QuestionList.aspx?ResourceType=R1' title='题目管理' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Poll/ResourceQuery/StatDefault.aspx?ResourceType=R1' title='满意度调查结果分析'  description=''>
        <sitePathNode url='~/poll/resourcequery/investdetail.aspx?resourcetype=r1' title='满意度调查结果分析（已提交人数）' description=''/>
        <sitePathNode url='~/poll/resourcequery/uninvestdetail.aspx?resourcetype=r1' title='满意度调查结果分析（未提交人数）' description=''/>
        <sitePathNode url='~/poll/resourcequery/queryuseralllist.aspx?resourcetype=r1' title='满意度调查结果分析（调查总人数）' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Valuation/ValuationList.aspx' title='评价量表管理'  description=''  />
      <sitePathNode url='~/Valuation/ValuationCourse.aspx' title='课程综合点评分析'  description=''  >
        <sitePathNode url='~/Valuation/TrainingItemCourseEvaluation.aspx' title='课程详细点评'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/Valuation/ValuationCourseApprove.aspx' title='课程综合点评分析(审批)'  description=''  >
        <sitePathNode url='~/Valuation/ItemCourseEvaluationScoreApprove.aspx' title='课程打分点评'  description=''  />
        <sitePathNode url='~/Valuation/TrainingItemCourseEvaluationApprove.aspx' title='课程详细点评'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/Valuation/ItemCourseEvaluationApprove.aspx' title='课程点评审批'  description=''  >
        <sitePathNode url='~/Valuation/EvaluationApproveList.aspx' title='点评审批'  description=''  />
      </sitePathNode>
      <sitePathNode url='~/Valuation/ValuationResource.aspx' title='课程资源点评分析'  description=''  />
      <sitePathNode url='~/Valuation/ValuationTeacher.aspx' title='讲师点评分析'  description=''  >
        <sitePathNode url='~/Valuation/TeacherEvaluation.aspx' title='讲师详细点评'  description=''  />
      </sitePathNode>
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='站点管理'  description='' >
    <sitePathNode url='' title='站点管理'  description='' >
      <sitePathNode url='~/SiteManage/RecommendCourse/RecommendCourseList.aspx' title='推荐课程'  description=''>
        <sitePathNode url='~/Resource/CourseManage/CourseResourceOpen.aspx' title='开放资源管理'  description=''  />
        <sitePathNode url='~/Resource/CourseManage/CourseLivingResourceOpen.aspx' title='开放资源管理'  description=''  />        
      </sitePathNode>
      <sitePathNode url='~/SiteManage/RecommendTeacher/RecommendTeacherList.aspx' title='推荐讲师'  description=''  />
      <sitePathNode url='~/SiteManage/BannerManager/BannerList.aspx' title='Banner管理'  description=''  />
      <sitePathNode url='~/Information/AfficheManager/AfficheListProject.aspx' title='公告管理'  description=''  />
      <sitePathNode url='~/Information/AfficheManager/BulletinList.aspx' title='公告列表'  description=''  />
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='导师辅导管理'  description='' >
    <sitePathNode url='' title='导师辅导'  description='' >
      <sitePathNode url='~/Mentor/MentorManage/SetsMentorList.aspx' title='学员导师管理'  description=''  />
      <sitePathNode url='~/Mentor/MentorManage/MentorList.aspx' title='导师学员管理'  description=''  />
      <sitePathNode url='~/IDP/ManageIDP/IDPList.aspx' title='学员导师关系管理'  description=''  >
        <sitePathNode url='~/IDP/ManageIDP/IDPView.aspx' title='查看详细信息'  description=''  >
          <sitePathNode url='~/IDP/ManageIDP/MyIDPFeedBackStu.aspx' title='跟进反馈'  description=''  />
        </sitePathNode>
      </sitePathNode>
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='费用管理'  description='' >
    <sitePathNode url='' title='课酬标准'  description='' >
      <sitePathNode url='~/Fee/CourseFeeSetting/FeeSettingList.aspx' title='课酬标准设置'  description=''  />      
    </sitePathNode>
    <sitePathNode url='' title='费用登录'  description='' >
      <sitePathNode url='~/Fee/FeeDetails/FeeDetailsList.aspx' title='费用流水管理'  description=''  />
      <sitePathNode url='~/Fee/TeacherPay/PaymentList.aspx' title='课酬支付管理'  description=''  />
      <sitePathNode url='~/Fee/FeeQuery/FeeReport.aspx' title='课酬查询统计'  description=''  />
    </sitePathNode>
    <sitePathNode url='' title='订单管理'  description='' >
      <sitePathNode url='~/Fee/Order/OrderList.aspx' title='订单查询'  description=''  />
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='调查问卷管理'  description='' >
    <sitePathNode url='' title='调查问卷管理'  description='' >
      <sitePathNode url='~/Questionnaire/Questionnaire/InquiryList.aspx' title='调查问卷管理'  description=''  />
      <sitePathNode url='~/Questionnaire/Questionnaire/InquiryAnalysis.aspx' title='调查问卷结果分析'  description=''  />
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='查询系统'  description='' >
    <sitePathNode url='' title='查询报表'  description='' >
      <sitePathNode url='~/Reporting/ReportingList.aspx' title='报表列表'  description=''  />
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='积分管理'  description='' >
    <sitePathNode url='' title='学员过程积分'  description='' >      
      <sitePathNode url='~/Point/PointReasonRole.aspx' title='积分原因管理' description=''/>
      <sitePathNode url='~/Point/PointReasonDetailList.aspx' title='学习过程积分管理' description=''>
        <sitePathNode url='~/Point/PointReasonDetailDetailList.aspx' title='学习过程积分管理' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Point/PointReasonTypeList.aspx' title='积分原因类型管理' description=''/>
      <sitePathNode url='~/Point/PointReasonDetailPublishList.aspx' title='学习过程积分发布' description=''>
        <sitePathNode url='~/Point/PointReasonDetailUnpublishList.aspx' title='未发布积分明细' description=''/>
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='' title='课程积分'  description='' >
      <sitePathNode url='~/Point/CourseRoleList.aspx' title='课程积分规则设置' description=''>
        <sitePathNode url='~/Point/CourseRoleSetting.aspx' title='课程积分规则设置' description=''/>
      </sitePathNode>
      <sitePathNode url='~/Point/CoursePointManager/ProjectCourseList.aspx' title='课程学习积分计算' description=''>
        <sitePathNode url='~/Point/CoursePointManager/UnPublishedStudentAllListView.aspx' title='待发布积分学员' description=''>
        </sitePathNode>
        <sitePathNode url='~/Point/CoursePointManager/PointCalculate.aspx' title='计算积分' description=''>
        </sitePathNode>
        <sitePathNode url='~/Point/CoursePointManager/ManualSetupPoint.aspx' title='设置积分' description=''>
          <sitePathNode url='~/Point/CoursePointManager/CoursePointRuleList.aspx' title='课程积分规则' description=''/>
        </sitePathNode>
      </sitePathNode>
      <sitePathNode url='~/Point/CoursePointRelease/ProjectCourseList.aspx' title='课程学习积分发布' description=''>
        <sitePathNode url='~/Point/CoursePointRelease/UnpublishedPointDetailListView.aspx' title='未发布积分明细' description=''/>
        <sitePathNode url='~/Point/CoursePointRelease/CourseStudentListView.aspx' title='查看积分明细' description=''/>
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='' title='积分查询'  description='' >
      <sitePathNode url='~/Point/CoursePointManager/CoursePointSearch.aspx' title='课程学习积分查询' description=''/>
      <sitePathNode url='~/Point/LearningPointSearch.aspx' title='学习过程积分查询' description=''/>
      <sitePathNode url='~/Point/StudentPointSearch.aspx' title='学员积分查询' description=''>
        <sitePathNode url='~/Point/StudentPointSearchDetail.aspx' title='学员积分明细' description=''/>
      </sitePathNode>
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='教学管理' description=''>
    <sitePathNode url='' title='直播管理' description=''>
      <sitePathNode url='~/Living/TeacherLivings.aspx' title='直播课堂' description=''></sitePathNode>
    </sitePathNode>
  </sitePathNode>
 <sitePathNode url='' title='评比活动' description=''>
    <sitePathNode url='' title='评比活动' description=''>
      <sitePathNode url='~/Activity/AppraisalList.aspx' title='评比管理' description=''></sitePathNode>
      <sitePathNode url='~/Activity/ProductionList.aspx' title='活动批阅' description=''></sitePathNode>
      <sitePathNode url='~/Activity/Excellent.aspx' title='作品评定' description=''></sitePathNode>
      <sitePathNode url='~/Activity/SetExcellent.aspx' title='作品展示' description=''></sitePathNode>
      <sitePathNode url='~/Activity/SetPrize.aspx' title='结果公示' description=''></sitePathNode>
    </sitePathNode>
  </sitePathNode>
</sitePath>
