body {
    font-family:'Microsoft YaHei';
    font-size:14px !important;
    color:#666;
}

.login-body
{
    
}
.login-header
{
    width:100%;
    /*background:url(media/header-bg.jpg) repeat-x;*/
}
.login-logo
{
    padding: 35px 0px 0px 5px;
    margin:0 auto;
    width:1200px;
    height:65px;    
    background:url(media/media_logo_70.png) no-repeat left center;
}
.login-middle
{
    height:600px;
    width:100%;
    min-width:1200px;
    background:url(media/banner-bg.jpg) no-repeat;
    background-position: 50% 50%;
}
.logo-chs
{
    margin: 10px 0px 0px 60px;
    font-size:24px;
    font-weight:bold;
    font-family:'Microsoft YaHei';
    color:#555;
    letter-spacing:1px;
}
.logo-en
{
    margin: 0px 0px 0px 70px;
    font-size:15px;
    font-weight:bold;
    font-family:'Microsoft YaHei';
    color:#666;
}
.login-notice
{
    overflow:hidden;
    width:100%;
    padding-top:10px;
    height:100%;
}
.login-notice-box
{
    margin:0 auto;
    width:1024px;
    /*text-align:center;  
    padding:0;  
    clear:both;*/  
}
.notice-instance
{
    width:300px;
    margin:10px;
    padding:8px;
    height:180px;
    overflow:hidden;
    border:1px solid #dbdbdb;
    float:left;
    position:relative;
    background-color:#fff;
    /*display:inline-block;  
    _display:inline;  
    *display:inline;*/  
}

.notice-title
{
    padding:5px 0px 8px 0px;
    border-bottom:1px solid #dbdbdb;    
}
    .notice-title a
    {
        font-size:16px;
        color:#555;
        font-family:'Microsoft YaHei';
        font-weight:700;
        height:21px;
        overflow:hidden;
        display:block;
    }
        .notice-title a:hover
        {
            font-size:16px;
            color:#444;
            font-family:'Microsoft YaHei';
            font-weight:700;
            cursor:pointer;
        }
.notice-content
{
    font-size:14px !important;
    color:#666;
    font-family:'Microsoft YaHei';
    padding: 5px 0px;
    text-indent:24px;
    line-height:24px;
    height:120px;  
    overflow:hidden;
}
    .notice-content:hover
    {
        cursor:pointer;
        color:#222;
    }
    .notice-content p, .notice-content a, .notice-content span, .notice-content h, .notice-content div, .notice-content li
    {
        font-size:12px !important;
        color:#666;
        font-family:'Microsoft YaHei';       
    }
    .notice-content p:hover, .notice-content a:hover, .notice-content span:hover, .notice-content h:hover, .notice-content div:hover, .notice-content li:hover
    {
        font-size:12px !important;
        color:#444;
        font-family:'Microsoft YaHei';       
    }
.notice-time
{
    text-align:right;
    padding-right:5px;
    color:#666;
    font-family:'Microsoft YaHei';
}
.login-box
{
    margin:0 auto;
    width:1200px;
    position:relative;
    padding-top:100px;
}
.login-block
{
    overflow:hidden;
    /*float:right;*/
    margin: 15px 0px 0px 0px;
    width:300px;
    height:300px;
    background:#A7CCE7;
    filter:alpha(opacity=50);
    position:absolute;
    right:300px;
    border-radius:8px 0px 0px 8px;
}
.forget-password
{
    color: #fff;
    left: 190px;
    position: absolute;
    top: 6px;
    text-decoration: underline;
}
.notice-more
{
    overflow:hidden;
    width:100%;
    text-align:center;
    padding-top:20px;
    margin-bottom:10px;
}

    .notice-more a
    {
        display:inline-block;
        width:1004px;
        line-height:36px;
        cursor:pointer;
        background:#dbdbdb;
        color:#777;
        font-size:14px;
    }

.notice-detail-title
{
    padding:0px 0px 0px 5px;
    font-size:12px;
    color:#555;
    font-family:'Microsoft YaHei';
    font-weight:700;
}

    .notice-detail-title a
    {
        font-size:12px;
        color:#555;
        font-family:'Microsoft YaHei';
        font-weight:700;
        cursor:pointer;
        display:block;
        width:100%;
    }
        .notice-detail-title a:hover
        {
            color:#333;
        }

.notice-read-num
{
    font-size:11px;
    display:block;
    overflow:hidden;  
    text-align:right;
}
.notice-detail-time
{
    margin-right:20px;
    color:#a3a3a3;
    background:url(media/notice-calendar.png) no-repeat 5px 3px;
    padding-left:24px;
}
.read-num
{
     color:#d82f2f;
}

.notice-box
{
    overflow:hidden;
    position:absolute;    
    width:300px;
    right:0px;
    height:300px;
    background:url(media/notice-bg.png) repeat;
    margin-top:15px;
    border-radius:0px 8px 8px 0px;
}

    .notice-box ul
    {
        margin:6px;
        width:280px;
        height:280px;
        border:2px solid #A7CCE7;
        border-radius:5px;
        overflow:hidden;
    }
        .notice-box ul li
        {
            border-bottom:1px dotted #A7CCE7;
        }
    .notice-box ul li p
    {
        line-height:22px;
    }
