<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!--首页日常公告的指定机构ID282-->
  <add key="BulletinOrganizationID" value="282"/> 
  <!--视频转码地址-->
  <add key="TransCodingStream" value="TVMP4XLD"/>
  <!--测试最大允许提交次数-->
  <add key="OrgMaxExamNum" value="3"/>

  <!--直播配置-->
  <add key="OnlinePlayingServiceUrl" value="http://open.gensee.com/integration/services/SaService"/>
  <add key="OnlinePlayingUser" value="admin@open.com"/>
  <add key="OnlinePlayingPassword" value="open321"/>
  <add key="OnlinePlayingSite" value="open.gensee.com"/>
  
  <!--直播信息 2017-->
  <add key="LiveRoot" value="http://api.talk-fun.com/portal.php"/>
  <add key="LiveOpenID" value="11425"/>
  <add key="LiveOpenToken" value="1be0e2ce2411a4386da9e8dd44d51a77"/>
  <add key="LiveVersion" value=".net.1.4"/>

  <!--小班直播TK-->
  <add key="TKLiveDomain" value="xdfylw" />
  <add key="TKLiveRoot" value="http://global.talk-cloud.net/WebAPI/" />
  <!--企业id-->
  <add key="TKKey" value="KLKCaWP8YL5bCmJB" />
  <!--视频分辨率 0：流畅   1：标清 2：高清   3：超清-->
  <add key="VideoType" value="1" />
  <!--帧率10,15,20,25,30-->
  <add key="VideoFramerate" value="20" />
  <!--自动开启音视频0: 不自动开启  1：自动开启-->
  <add key="AutoOpenav" value="1" />
  <!--默认老师、助教、巡教密码, 三者不能重复-->
  <add key="ChairmanPwd" value="666666" />
  <add key="SssistantPwd" value="888888" />
  <add key="PatrolPwd" value="111111" />
</appSettings>

