<?xml version="1.0"?>

<objects xmlns="http://www.autumnframework.net" default-lazy-init="true">
	<description>
		服务插件-文件上传配置
	</description>
	<!-- 文件系统属性配置替换 -->
	<object name="fileSysSettingPropertyHolder"
				type="Autumn.Objects.Factory.Config.PropertyPlaceholderConfigurer, Autumn.Core">
		<property name="configSections">
			<value>fileSysSettings</value>
		</property>
	</object>

	<!-- 文件上传配置策略 -->
	<object id="FileUploadStrategyService" type="ETMS.Utility.Service.FileUpload.DefaultFileUploadStrategyService,ETMS.Utility">
		<!-- 属性配置 -->
		<!-- 默认持久化文件区域，设置此项后，在各单项中可以采用相对路径
        支持：1、绝对路径方式{ d:\temp | \\202.205.170.166\temp}
             2、以“~”开头的相对路径方式 {~/Temp}
    -->
		<property name="Root" value="${Root}"/>
		<!-- 默认Url根路径，设置此项后，在各单项中可以采用相对路径 -->
		<property name="UrlRoot" value="${UrlRoot}"/>
		<!-- (4) 各个功能上传对应的策略 -->
		<property name="Strategys">
			<dictionary key-type="string" value-type="ETMS.Utility.Service.FileUpload.FileUploadConfig, ETMS.Utility">
				<!-- 导入学员信息 -->
				<entry key="ImportStudentInfo">
					<object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
						<!-- 附件类型 -->
						<property name="FileTypes" value=".xls,.xlsx"/>
						<!-- 附件大小（单位KB） -->
						<property name="MaxFileSize" value="10000"/>
						<!-- 附件个数 -->
						<property name="MaxFileCount" value="1"/>
						<!-- 文件保存相对根路径 -->
						<property name="Root" value="ImportStudentInfo"/>
						<!-- 文件Url引用相对根路径 -->
						<property name="UrlRoot" value="ImportStudentInfo"/>
						<!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
						<property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
					</object>
				</entry>
				<!-- 编辑器配置项 -->
				<entry key="Editor">
					<object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
						<!-- 附件类型 -->
						<property name="FileTypes" value=".gif,.jpeg,.png,.bmp,.jpg,.doc,.xls,.txt,.zip,.rar"/>
						<!-- 附件大小（单位KB） -->
						<property name="MaxFileSize" value="10000"/>
						<!-- 附件个数 -->
						<property name="MaxFileCount" value="100"/>
						<!-- 文件保存相对根路径 -->
						<property name="Root" value="Editor"/>
						<!-- 文件Url引用相对根路径 -->
						<property name="UrlRoot" value="Editor"/>
						<!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
						<property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
					</object>
				</entry>
				<!-- 用户头像配置项 -->
				<entry key="UserIcon">
					<object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
						<!-- 附件类型 -->
						<property name="FileTypes" value=".jpg,.gif,.png,.bmp"/>
						<!-- 附件大小（单位KB） -->
						<property name="MaxFileSize" value="4"/>
						<!-- 附件个数 -->
						<property name="MaxFileCount" value="1"/>
						<!-- 文件保存相对根路径 -->
						<property name="Root" value="UserIcons"/>
						<!-- 文件Url引用相对根路径 -->
						<property name="UrlRoot" value="UserIcons"/>
						<!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
						<property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
					</object>
				</entry>
				<!-- 机构logo配置项 -->
				<entry key="OrgLogo">
					<object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
						<!-- 附件类型 -->
						<property name="FileTypes" value=".jpg,.png,.gif"/>
						<!-- 附件大小（单位KB） -->
						<property name="MaxFileSize" value="500"/>
						<!-- 附件个数 -->
						<property name="MaxFileCount" value="1"/>
						<!-- 文件保存相对根路径 -->
						<property name="Root" value="OrgLogo"/>
						<!-- 文件Url引用相对根路径 -->
						<property name="UrlRoot" value="OrgLogo"/>
						<!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
						<property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
					</object>
				</entry>
				<!-- SCORM配置项 -->
				<entry key="SCORM">
					<object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
						<!-- 附件类型 -->
						<property name="FileTypes" value=".zip,.rar"/>
						<!-- 附件大小（单位KB） -->
						<property name="MaxFileSize" value="10000"/>
						<!-- 附件个数 -->
						<property name="MaxFileCount" value="1"/>
						<!-- 文件保存相对根路径 -->
						<property name="Root" value="SCORM"/>
						<!-- 文件Url引用相对根路径 -->
						<property name="UrlRoot" value="SCORM"/>
						<!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
						<property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
					</object>
				</entry>
				<!-- 课程图片配置项 -->
				<entry key="CourseLogo">
					<object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
						<!-- 附件类型 -->
						<property name="FileTypes" value=".jpg,.png,.gif"/>
						<!-- 附件大小（单位KB） -->
						<property name="MaxFileSize" value="500"/>
						<!-- 附件个数 -->
						<property name="MaxFileCount" value="1"/>
						<!-- 文件保存相对根路径 -->
						<property name="Root" value="CourseLogo"/>
						<!-- 文件Url引用相对根路径 -->
						<property name="UrlRoot" value="CourseLogo"/>
						<!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
						<property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
					</object>
				</entry>
        <!-- 公告图片配置项 -->
        <entry key="BulletinImage">
          <object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
            <!-- 附件类型 -->
            <property name="FileTypes" value=".jpg,.png,.gif"/>
            <!-- 附件大小（单位KB） -->
            <property name="MaxFileSize" value="10"/>
            <!-- 附件个数 -->
            <property name="MaxFileCount" value="1"/>
            <!-- 文件保存相对根路径 -->
            <property name="Root" value="BulletinImage"/>
            <!-- 文件Url引用相对根路径 -->
            <property name="UrlRoot" value="BulletinImage"/>
            <!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
            <property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
          </object>
        </entry>
        <!-- Banner配置项 -->
        <entry key="BannerImage">
          <object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
            <!-- 附件类型 -->
            <property name="FileTypes" value=".jpg,.png,.gif"/>
            <!-- 附件大小（单位KB） -->
            <property name="MaxFileSize" value="3"/>
            <!-- 附件个数 -->
            <property name="MaxFileCount" value="1"/>
            <!-- 文件保存相对根路径 -->
            <property name="Root" value="BannerImage"/>
            <!-- 文件Url引用相对根路径 -->
            <property name="UrlRoot" value="BannerImage"/>
            <!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
            <property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
          </object>
        </entry>
        <!-- 媒体图片配置项 -->
        <entry key="MediaLogo">
          <object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
            <!-- 附件类型 -->
            <property name="FileTypes" value=".jpg,.png,.gif"/>
            <!-- 附件大小（单位KB） -->
            <property name="MaxFileSize" value="500"/>
            <!-- 附件个数 -->
            <property name="MaxFileCount" value="1"/>
            <!-- 文件保存相对根路径 -->
            <property name="Root" value="MediaLogo"/>
            <!-- 文件Url引用相对根路径 -->
            <property name="UrlRoot" value="MediaLogo"/>
            <!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
            <property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
          </object>
        </entry>
        <!-- 项目图片配置项 -->
        <entry key="ItemLogo">
          <object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
            <!-- 附件类型 -->
            <property name="FileTypes" value=".jpg,.png,.gif"/>
            <!-- 附件大小（单位KB） -->
            <property name="MaxFileSize" value="500"/>
            <!-- 附件个数 -->
            <property name="MaxFileCount" value="1"/>
            <!-- 文件保存相对根路径 -->
            <property name="Root" value="ItemLogo"/>
            <!-- 文件Url引用相对根路径 -->
            <property name="UrlRoot" value="ItemLogo"/>
            <!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
            <property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
          </object>
        </entry>
				<entry key="OfflineJob">
					<object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
						<!-- 附件类型 -->
						<property name="FileTypes" value=".mp4,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.zip,.rar"/>
						<!-- 附件大小（单位KB） -->
						<property name="MaxFileSize" value="200"/>
						<!-- 附件个数 -->
						<property name="MaxFileCount" value="1"/>
						<!-- 文件保存相对根路径 -->
						<property name="Root" value="ExOfflineHomework"/>
						<!-- 文件Url引用相对根路径 -->
						<property name="UrlRoot" value="ExOfflineHomework"/>
						<!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
						<property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
					</object>
				</entry>
        <!-- 媒体 -->
        <entry key="MediaResourceVideo">
          <object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
            <!-- 附件类型 
            <property name="FileTypes" value=".flv,.swf,.mkv,.avi,.rm,.rmvb,.mpeg,.mpg,.ogg,.ogv,.mov,.wmv,.mp4,.webm,.mp3,.wav,.mid"/>-->
            <property name="FileTypes" value=".mp4,.flv,.pdf"/>
            <!-- 附件大小（单位M） -->
            <property name="MaxFileSize" value="2048"/>
            <!-- 附件个数 -->
            <property name="MaxFileCount" value="1"/>
            <!-- 文件保存相对根路径 -->
            <property name="Root" value="MediaResource"/>
            <!-- 文件Url引用相对根路径 -->
            <property name="UrlRoot" value="MediaResource"/>
            <!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
            <property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
          </object>
        </entry>
        <!-- 文档类资源 -->
        <entry key="DocResource">
          <object type="ETMS.Utility.Service.FileUpload.FileUploadConfig,ETMS.Utility">
            <!-- 附件类型 -->
            <property name="FileTypes" value=".doc,.docx,.xls,.xlsx,.pdf,.txt,.ppt,.pptx,.zip,.rar"/>
            <!-- 附件大小（单位KB） -->
            <property name="MaxFileSize" value="200"/>
            <!-- 附件个数 -->
            <property name="MaxFileCount" value="1"/>
            <!-- 文件保存相对根路径 -->
            <property name="Root" value="DocResource"/>
            <!-- 文件Url引用相对根路径 -->
            <property name="UrlRoot" value="DocResource"/>
            <!-- 文件命名表达式,内置参数：(传递的对象）#this,#FileName,#FileType -->
            <property name="FileNameExpression" value="DateTime.Now.ToString('yyyy\\MM\\dd')+'\'+DateTime.Now.ToString('yyyyMMddHHmmssfff')+#FileType"/>
          </object>
        </entry>


			</dictionary>
		</property>
	</object>
	<!-- 2、文件上传服务 -->
	<object id="FileUploadService" type="ETMS.Utility.Service.FileUpload.DefaultFileUploadService,ETMS.Utility">
		<!-- 属性配置 -->
		<!-- (1) 内置缓存，提供令牌存储 -->
		<property name="Cache">
			<!--内置缓存-->
			<object type="Autumn.Caching.Support.NonExpiringCache, Autumn.Core"/>
		</property>
		<!-- (3) 上传文件策略服务引用 -->
		<property name="StrategyService" ref="FileUploadStrategyService" />
	</object>
</objects>
