<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <!--用户基本信息映射-->
    <resultMap id="ItemBank.OptionGroup.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.OptionGroup,ETMS.Components.Exam.API">
      <result property="OptionGroupTitleID" column="OptionGroupTitleID" />
      <result property="OptionGroupTitle" column="OptionGroupTitle" />
      <result property="QuestionID" column="QuestionID" />
    </resultMap>
  </resultMaps>
  <parameterMaps>
  </parameterMaps>
  <statements>
    <!--添加一个试题选项-->
    <statement id="ItemBank.OptionGroup.Add">
      INSERT INTO TK_OptionGroupTitle
      (OptionGroupTitleID,QuestionID,
      OptionGroupTitle,
      IsDelete,CreatedUserID,CreatedDate)
      VALUES
      (
      #OptionGroup.OptionGroupTitleID#,#OptionGroup.QuestionID#,
      #OptionGroup.OptionGroupTitle#,
      0,#UserID#,GETDATE()
      )
    </statement>
    <!--更新一个试题选项-->
    <statement id="ItemBank.OptionGroup.Update">
      UPDATE TK_OptionGroupTitle
      SET
      QuestionID=#OptionGroup.QuestionID#,
      OptionGroupTitle=#OptionGroup.OptionGroupTitle#,
      UpdatedUserID=#UserID#,UpdatedDate=GETDATE()
      WHERE OptionGroupTitleID=#OptionGroup.OptionGroupTitleID#
    </statement>
    <!--删除指定试项ID的选项-->
    <statement id="ItemBank.OptionGroup.Delete">
      UPDATE TK_OptionGroupTitle
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE OptionGroupTitleID=#OptionGroupTitleID# AND IsDelete =0
    </statement>
    <!--删除指定试题中所有选项-->
    <statement id="ItemBank.OptionGroup.DeleteByQuestionID">
      UPDATE TK_OptionGroupTitle
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE QuestionID =#QuestionID# AND IsDelete =0
    </statement>
    <!---获取指定ID的试题选项-->
    <statement id="ItemBank.OptionGroup.GetByID" resultMap="ItemBank.OptionGroup.ResultMap">
      SELECT
      OptionGroupTitleID,QuestionID,OptionGroupTitle
      FROM TK_OptionGroupTitle
      WHERE OptionGroupTitleID =#value# AND IsDelete =0
    </statement>
    <!---获取指定试题中的所有试题选项-->
    <statement id="ItemBank.OptionGroup.FindOptionGroupsInQuestion" resultMap="ItemBank.OptionGroup.ResultMap">
      SELECT
      OptionGroupTitleID,QuestionID,OptionGroupTitle
      FROM TK_OptionGroupTitle
      WHERE QuestionID =#value# AND IsDelete =0
      ORDER BY OptionGroupTitle
    </statement>
  </statements>
</sqlMap>