<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <resultMap id="QuestionExtend.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.QuestionExtend,ETMS.Components.Exam.API">
      <result property="QuestionID" column="QuestionID" />
      <result property="Solution" column="Solution" />
    </resultMap>
  </resultMaps>
  <statements>
    <statement id="QuestionExtend.Insert">
      Insert Into TK_QuestionOther(QuestionID,Solution)values(#QuestionID#,#Solution#)
    </statement>
    <statement id="QuestionExtend.Update">
      Update TK_QuestionOther Set Solution=#Solution# Where QuestionID=#QuestionID#
    </statement>
    <statement id="QuestionExtend.Delete">
      Delete From TK_QuestionOther Where QuestionID=#QuestionID#
    </statement>
    <statement id="QuestionExtend.GetByID" resultMap="QuestionExtend.ResultMap">
      Select * From TK_QuestionOther Where QuestionID=#QuestionID#
    </statement>
    <statement id="QuestionExtend.IsExist" resultClass="int">
      Select Count(*)	From TK_QuestionOther Where QuestionID=#QuestionID#
    </statement>
  </statements>
</sqlMap>