<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <!--用户基本信息映射-->
    <resultMap id="ItemBank.QuestionOption.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.QuestionOption,ETMS.Components.Exam.API">
      <result property="OptionID" column="OptionID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="OptionGroupTitleID" column="OptionGroupTitleID" />
      <result property="OptionCode" column="OptionCode" />
      <result property="OptionContent" column="OptionContent" />
    </resultMap>
  </resultMaps>
  <parameterMaps>
  </parameterMaps>
  <statements>
    <!--添加一个试题选项-->
    <statement id="ItemBank.QuestionOption.Add">
      INSERT INTO TK_QuestionOption
      (OptionID,QuestionID,OptionCode,OptionContent,
      OptionGroupTitleID,
      IsDelete,CreatedUserID,CreatedDate)
      VALUES
      (
      #QuestionOption.OptionID#,#QuestionOption.QuestionID#,
      #QuestionOption.OptionCode#,#QuestionOption.OptionContent#,
      #QuestionOption.OptionGroupTitleID#,
      0,#UserID#,GETDATE()
      )
    </statement>
    <!--更新一个试题选项-->
    <statement id="ItemBank.QuestionOption.Update">
      UPDATE TK_QuestionOption
      SET
      QuestionID=#QuestionOption.QuestionID#,OptionCode=#QuestionOption.OptionCode#,
      OptionContent=#QuestionOption.OptionContent#,
      OptionGroupTitleID=#QuestionOption.OptionGroupTitleID#,
      UpdatedUserID=#UserID#,UpdatedDate=GETDATE()
      WHERE OptionID=#QuestionOption.OptionID#
    </statement>
    <!--删除指定试项ID的选项-->
    <statement id="ItemBank.QuestionOption.Delete">
      UPDATE TK_QuestionOption
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE OptionID =#QuestionOptionID# AND IsDelete =0
    </statement>
    <!--删除指定试题中所有选项-->
    <statement id="ItemBank.QuestionOption.DeleteByQuestionID">
      UPDATE TK_QuestionOption
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE QuestionID =#QuestionID# AND IsDelete =0
    </statement>
    <!--删除试题中指定选项组中的所有选项-->
    <statement id="ItemBank.QuestionOption.DeleteByGroupID">
      UPDATE TK_QuestionOption
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE QuestionID =#QuestionID# AND OptionGroupTitleID=#OptionGroupID# AND IsDelete =0
    </statement>
    <!--删除某一试题中多个选项-->
  <statement id="ItemBank.QuestionOption.DeleteByOptionsID">
    UPDATE TK_QuestionOption
    SET IsDelete=1,
    UpdatedUserID=#UserID#,
    UpdatedDate=GETDATE()
    WHERE QuestionID =#QuestionID# AND OptionID In ($OptionsID$) AND IsDelete =0
  </statement>
    <!---获取指定ID的试题选项-->
    <statement id="ItemBank.QuestionOption.GetByID" resultMap="ItemBank.QuestionOption.ResultMap">
      SELECT
      [OptionID],[QuestionID],[OptionCode],[OptionContent],
      [OptionGroupTitleID]
      FROM [TK_QuestionOption]
      WHERE [OptionID] =#value# AND [IsDelete] =0
    </statement>
    <!---获取指定试题中的所有试题选项-->
    <statement id="ItemBank.QuestionOption.FindQuestionOptionsInQuestion" resultMap="ItemBank.QuestionOption.ResultMap">
      SELECT
      [OptionID],[QuestionID],[OptionCode],[OptionContent],[OptionGroupTitleID]
      FROM TK_QuestionOption
      WHERE QuestionID =#value# AND IsDelete =0
      ORDER BY OptionCode
    </statement>
    <!--获取指定试题中某一选项组中所有选项-->
    <statement id="ItemBank.QuestionOption.FindQuestionOptionsInGroup" resultMap="ItemBank.QuestionOption.ResultMap">
      SELECT
      OptionID,QuestionID,OptionCode,OptionContent,
      OptionGroupTitleID
      FROM TK_QuestionOption
      WHERE QuestionID =#QuestionID# AND OptionGroupTitleID=#OptionGroupID# AND IsDelete =0
      ORDER BY OptionCode
    </statement>
  </statements>
</sqlMap>