<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <resultMap id="QuestionFeedback.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.QuestionFeedback,ETMS.Components.Exam.API">
      <result property="FeedbackID" column="FeedbackID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="RightContent" column="RightContent" />
      <result property="WrongContent" column="WrongContent" />
      <result property="IsDelete" column="IsDelete" />
      <result property="CreatedUserID" column="CreatedUserID" />
      <result property="CreatedDate" column="CreatedDate" />
      <result property="UpdatedUserID" column="UpdatedUserID" />
      <result property="UpdatedDate" column="UpdatedDate" />
    </resultMap>
  </resultMaps>
  <statements>
    <statement id="QuestionFeedback.Insert">
      Insert Into TK_QuestionFeedback(
      FeedbackID,
      QuestionID,
      RightContent,
      WrongContent,
      IsDelete,
      CreatedUserID,
      CreatedDate,
      UpdatedUserID,
      UpdatedDate
      )
      values(
      #FeedbackID#,
      #QuestionID#,
      #RightContent#,
      #WrongContent#,
      #IsDelete#,
      #CreatedUserID#,
      #CreatedDate#,
      #UpdatedUserID#,
      #UpdatedDate#
      )
    </statement>
    <statement id="QuestionFeedback.Delete">
      Update TK_QuestionFeedback Set IsDelete=1 Where FeedbackID=#value#
    </statement>
    <statement id="QuestionFeedback.Deletes">
      Update TK_QuestionFeedback Set IsDelete=1 Where QuestionID=#value#
    </statement>
    <statement id="QuestionFeedback.GetByID" resultMap="QuestionFeedback.ResultMap">
      Select * From TK_QuestionFeedback Where IsDelete=0 and QuestionID=#value#
    </statement>
    <statement id="QuestionFeedback.ModifyRight">
      Update TK_QuestionFeedback Set
      RightContent=#RightContent#,
      [UpdatedUserID]=#UpdatedUserID#,
      [UpdatedDate]=#UpdatedDate#
      Where FeedbackID=#FeedbackID#
    </statement>
    <statement id="QuestionFeedback.ModifyWrong">
      Update TK_QuestionFeedback Set
      WrongContent=#WrongContent#,
      [UpdatedUserID]=#UpdatedUserID#,
      [UpdatedDate]=#UpdatedDate#
      Where FeedbackID=#FeedbackID#
    </statement>
    <statement id="QuestionFeedback.Update">
      Update TK_QuestionFeedback Set
      RightContent=#RightContent#,
      WrongContent=#WrongContent#,
      [UpdatedUserID]=#UpdatedUserID#,
      [UpdatedDate]=#UpdatedDate#
      Where FeedbackID=#FeedbackID#
    </statement>
    <statement id="QuestionFeedback.RightContent" resultClass="string">
      Select RightContent	From TK_QuestionFeedback Where IsDelete=0 and QuestionID=#QuestionID#
    </statement>
    <statement id="QuestionFeedback.WrongContent" resultClass="string">
      Select WrongContent	From TK_QuestionFeedback Where IsDelete=0 and QuestionID=#QuestionID#
    </statement>
    <statement id="QuestionFeedback.IsExist" resultClass="int">
      Select Count(*)	From TK_QuestionFeedback Where IsDelete=0 and QuestionID=#QuestionID#
    </statement>
  </statements>
</sqlMap>