<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <parameterMaps>
    <parameterMap id="Common.PagingParm" class ="Hashtable">
      <parameter property="tableName" column="tableName" />
      <parameter property="fields"  column="fields" nullValue="*" />
      <parameter property="sqlWhere" column="sqlWhere"/>
      <parameter property="groupField"  column="groupField"/>
      <parameter property="orderField" column="orderField" />
      <parameter property="pageIndex" column="pageIndex" />
      <parameter property="pageSize"  column="pageSize"/>
      <parameter property="totalRecord" column="totalRecord" direction="Output" />
    </parameterMap>
  </parameterMaps>
  <resultMaps>
    <resultMap id="Common.IDName.ResultMap" class="ETMS.Components.Exam.API.Entity.IDName,ETMS.Components.Exam.API">
      <result property="ID"           column="ID"/>
      <result property="Name"    column="Name"/>
    </resultMap>
  </resultMaps>
</sqlMap>