<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--系统配置-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--WebApi地址-->
  <add key="WebApiPath" value="http://localhost:6877/"/>
  <add key="UrlRoot" value="http://10.96.142.74:8010/files"/>
  <add key="Title" value="优博"/>
</appSettings>