<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <!--用户基本信息映射-->
    <resultMap id="Test.UserExamResult.ResultMap" class="ETMS.Components.Exam.API.Entity.Test.UserExamResult,ETMS.Components.Exam.API">
      <result property="ResultID" column="ResultID" />
      <result property="UserExamID" column="UserExamID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="QuestionName" column="QuestionName" />
      <result property="QuestionType" column="QuestionType" />
      <result property="UserAnswer" column="UserAnswer" />
      <result property="UserScore" column="UserScore" />
      <result property="QuestionAnswer" column="QuestionAnswer" />
      <result property="QuestionScore" column="QuestionScore" />
    </resultMap>
    <resultMap id="Test.UserExamState.ResultMap" class="ETMS.Components.Exam.API.Entity.Test.UserExamState,ETMS.Components.Exam.API">
      <result property="TotalQuestionCnt" column="TotalQuestionCnt" />
      <result property="TestedQuestionCnt" column="TestedQuestionCnt" />
    </resultMap>
    <resultMap id="Test.QuestionTypeUserResult.ResultMap" class="ETMS.Components.Exam.API.Entity.Test.QuestionTypeUserResult,ETMS.Components.Exam.API">
      <result property="QuestionType" column="QuestionType" />
      <result property="QuestionsCount" column="QuestionTypeCount" />
      <result property="CorrectCount" column="CorrectCount" />
    </resultMap>
  </resultMaps>
  <parameterMaps>
  </parameterMaps>
  <statements>
    <!--添加一个答题反馈项-->
    <statement id="Test.UserExamResult.Add">
      INSERT INTO KS_UserExamResult
      (ResultID,UserExamID,QuestionID,
      QuestionName,QuestionType,UserAnswer,UserScore,QuestionAnswer,QuestionScore,
      IsDelete,CreatedUserID,CreatedDate)
      VALUES
      (
      #UserExamResult.ResultID#,#UserExamResult.UserExamID#,#UserExamResult.QuestionID#,
      #UserExamResult.QuestionName#,#UserExamResult.QuestionType#,#UserExamResult.UserAnswer#,#UserExamResult.UserScore#,#UserExamResult.QuestionAnswer#,#UserExamResult.QuestionScore#,
      0,#UserID#,GETDATE()
      )
    </statement>
    <!--更新一个答题反馈项-->
    <statement id="Test.UserExamResult.Update">
      UPDATE KS_UserExamResult
      SET
      UserExamID=#UserExamResult.QuestionID#,QuestionID=#UserExamResult.QuestionID#,
      QuestionName=#UserExamResult.QuestionName#,QuestionType=#UserExamResult.QuestionType#,UserAnswer=#UserExamResult.UserAnswer#,
      UserScore=#UserExamResult.UserScore#,QuestionAnswer=#UserExamResult.QuestionAnswer#,QuestionScore=#UserExamResult.QuestionScore#,
      UpdatedUserID=#UserID#,UpdatedDate=GETDATE()
      WHERE ResultID=#UserExamResult.ResultID#
    </statement>
    <!--删除指定ID的答题反馈项-->
    <statement id="Test.UserExamResult.Delete">
      UPDATE KS_UserExamResult
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE ResultID=#ResultID# AND IsDelete =0
    </statement>

    <!--更新一个考生某一试题的考生答案-->
    <statement id="Test.UserExamResult.UpdateUserAnswer">
      UPDATE KS_UserExamResult
      SET
      UserAnswer=#UserAnswer#,
      UpdatedUserID=#UserID#,UpdatedDate=GETDATE()
      WHERE UserExamID=#UserExamID# AND QuestionID=#QuestionID# AND IsDelete=0
    </statement>
    <!--更新一个考生某一试题的考生答案-->
    <statement id="Test.UserExamResult.UpdateUserAnswerScore">
      UPDATE KS_UserExamResult
      SET
      UserAnswer=#UserAnswer#,UserScore=#ExamScore#,
      UpdatedUserID=#UserID#,UpdatedDate=GETDATE()
      WHERE UserExamID=#UserExamID# AND QuestionID=#QuestionID# AND IsDelete=0
    </statement>
    
    <!--更新考生某一试题的分数-->
    <statement id="Test.UserExamResult.UpdateUserQuestionScore">
      UPDATE KS_UserExamResult
      SET
      UserScore=#ExamScore#,
      UpdatedUserID=#UserID#,UpdatedDate=GETDATE()
      WHERE UserExamID=#UserExamID# AND QuestionID=#QuestionID# AND IsDelete=0
    </statement>
    <!---获取指定考生答卷的考生得分与试卷总分--><!--
    <statement id="Test.UserExamResult.FindAllInUserExam" resultMap="Test.UserExamResult.ResultMap">
      SELECT SUM(UserScore) AS UserScore,SUM(QuestionScore) AS PaperScore
      FROM KS_UserExamResult
      WHERE UserExamID =#value# AND IsDelete =0
    </statement>-->
    
    <!--删除指定考生答卷中所有答题结果项-->
    <statement id="Test.UserExamResult.DeleteAllInUserExam">
      UPDATE KS_UserExamResult
      SET IsDelete=1,
      UpdatedUserID=#UserID#,
      UpdatedDate=GETDATE()
      WHERE UserExamID =#UserExamID# AND IsDelete =0
    </statement>
    <!---获取指定考生答卷中的所有答题结果项-->
    <statement id="Test.UserExamResult.FindAllInUserExam" resultMap="Test.UserExamResult.ResultMap">
      SELECT
      ResultID,UserExamID,QuestionID,
      QuestionName,QuestionType,UserAnswer,UserScore,QuestionAnswer,QuestionScore
      FROM KS_UserExamResult
      WHERE UserExamID =#value# AND IsDelete =0
    </statement>
    <!--得到某一次考试，试题总数与已作答总数-->
    <statement id="Test.UserExamResult.GetUserExamState" resultMap="Test.UserExamState.ResultMap">
      SELECT
      COUNT(*) As TotalQuestionCnt,
      SUM(CASE WHEN UserAnswer IS NULL  OR UserAnswer='' THEN 0 ELSE 1 END) As TestedQuestionCnt
      from KS_UserExamResult
      where UserExamID =#value#
    </statement>
    <statement id="Test.UserExamResult.CreateExamResultForUserExam">
      INSERT INTO KS_UserExamResult (ResultID,UserExamID,QuestionID,QuestionType,
      UserScore,QuestionAnswer,QuestionScore,
      IsDelete,CreatedUserID,CreatedDate)
      SELECT NEWID() As ResultID, UserExamID,QuestionID,QuestionType,
      0 As UserScore,Answer As QuestionAnswer,QuestionScore ,
      0 As IsDelete,#CreateUserID# As CreateUserID,GETDATE() As CreateDate
      FROM KS_ExamQuestion WHERE UserExamID =#UserExamID#
    </statement>
    <!--得到试卷中，各种题型试题总数与考生答对数结果-->
    <statement id="Test.UserExamResult.GetQuestionTypeUserResult" resultMap="Test.QuestionTypeUserResult.ResultMap">
      SELECT QuestionType,COUNT(*) AS QuestionTypeCount,
      SUM(CASE WHEN QuestionScore=UserScore THEN 1 ELSE 0 END) AS CorrectCount
      FROM [KS_UserExamResult]
      WHERE UserExamID=#value#
      GROUP BY QuestionType
    </statement>
  </statements>
</sqlMap>