<?xml version="1.0" encoding="UTF-8" ?>
<sqlMap namespace="ETMS.Components.Exam.Implement.DAL" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <resultMaps>
    <!--答卷中试题题面信息映射-->
    <resultMap id="Test.UserQuestion.ResultMap" class="ETMS.Components.Exam.API.Entity.Test.UserQuestion,ETMS.Components.Exam.API">
      <result property="ExamQuestionID" column="ExamQuestionID" />
      <result property="UserExamID" column="UserExamID" />
      <result property="TestPaperID" column="TestPaperID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="ParentQuestionID" column="ParentQuestionID" />
      <result property="SubItemIndex" column="SubItemIndex" />
      <result property="QuestionType" column="QuestionType" />
      <result property="QuestionTitle" column="QuestionTitle" />
      <result property="ObjectID" column="ObjectID" />
      <result property="Subject" column="Subject" />
      <result property="KnowledgePoints" column="KnowledgePoints" />
      <result property="Difficulty" column="Difficulty" />
      <result property="AnswerStr" column="Answer" />
      <result property="UserAnswerStr" column="UserAnswer" />
      <result property="QuestionScore" column="QuestionScore" />
      <result property="QuestionNo" column="QuestionNo" />
    </resultMap>
    <!--答卷中试题选项信息映射-->
    <resultMap id="Test.TestQuestionOption.ResultMap" class="ETMS.Components.Exam.API.Entity.Test.TestQuestionOption,ETMS.Components.Exam.API">
      <result property="UserExamID" column="UserExamID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="OptionID" column="OptionID" />
      <result property="OptionGroupTitleID" column="OptionGroupID" />
      <result property="QuestionOptionCode" column="QuestionOptionCode" />
      <result property="OptionCode" column="OptionCode" />
      <result property="OptionContent" column="OptionContent" />
    </resultMap>
    <!--答卷中试题选项组信息映射-->
    <resultMap id="Test.TestOptionGroup.ResultMap" class="ETMS.Components.Exam.API.Entity.Test.TestOptionGroup,ETMS.Components.Exam.API">
      <result property="UserExamID" column="UserExamID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="OptionGroupTitleID" column="OptionGroupID" />
      <result property="OptionGroupTitle" column="OptionGroupTitle" />
    </resultMap>
    <!--试题的选项反馈-->
    <resultMap id="Test.OptionFeedback.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.OptionFeedback,ETMS.Components.Exam.API">
      <result property="OptionFeedbackID" column="OptionFeedbackID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="Options" column="Options" />
      <result property="Content" column="Content" />
    </resultMap>
    <!--试题反馈映射-->
    <resultMap id="Test.QuestionFeedback.ResultMap" class="ETMS.Components.Exam.API.Entity.ItemBank.QuestionFeedback,ETMS.Components.Exam.API">
      <result property="FeedbackID" column="FeedbackID" />
      <result property="QuestionID" column="QuestionID" />
      <result property="RightContent" column="RightContent" />
      <result property="WrongContent" column="WrongContent" />
    </resultMap>
  </resultMaps>
  <parameterMaps>
  </parameterMaps>
  <statements>
    <!--添加一个试题的题面信息-->
    <statement id="Test.UserQuestion.AddExamQuestion">
      INSERT INTO [KS_ExamQuestion]
      ([ExamQuestionID],[UserExamID],[TestPaperID],[QuestionID],[ParentQuestionID]
      ,[SubItemIndex],[QuestionType],
      [QuestionTitle],[ObjectID],[Subject],[KnowledgePoints]
      ,[Difficulty],[Answer],[QuestionNo],[QuestionScore])
      VALUES
      (#ExamQuestion.ExamQuestionID#, 
      #ExamQuestion.UserExamID#, #ExamQuestion.TestPaperID#, #ExamQuestion.QuestionID#,#ExamQuestion.ParentQuestionID#,
      #ExamQuestion.SubItemIndex#,#ExamQuestion.QuestionType#, 
      #ExamQuestion.QuestionTitle#,#ExamQuestion.ObjectID#, #ExamQuestion.Subject#, #ExamQuestion.KnowledgePoints#,
      #ExamQuestion.Difficulty#, #ExamQuestion.Answer#,
      #ExamQuestion.QuestionNo#, #ExamQuestion.QuestionScore#)
    </statement>
    <!--得到一次考试的所有试题的题面信息-->
    <statement id="Test.UserQuestion.FindQuestionsInUserExam" resultMap="Test.UserQuestion.ResultMap">
      SELECT
      [ExamQuestionID],A.[UserExamID],[TestPaperID],A.[QuestionID],[ParentQuestionID]
      ,[SubItemIndex],A.[QuestionType],
      [QuestionTitle],[ObjectID],[Subject],[KnowledgePoints]
      ,[Difficulty],[Answer],[QuestionNo],A.[QuestionScore],B.UserAnswer
      FROM [KS_ExamQuestion] A LEFT JOIN [KS_UserExamResult] B
      ON A.UserExamID =B.UserExamID AND A.QuestionID=B.QuestionID
      WHERE A.[UserExamID]=#value#
      ORDER BY [QuestionNo]
    </statement>
    <!--删除一次考试的试卷的所有试题题面信息-->
    <statement id="Test.UserQuestion.DeleteQuestionsInUserExam">
      DELETE FROM [KS_ExamQuestion]
      WHERE [UserExamID]=#UserExamID#
    </statement>
    <!--删除一个答卷中指定的ID题面信息-->
    <statement id="Test.UserQuestion.DeleteQuestionByQuestionID">
      DELETE FROM [KS_ExamQuestion]
      WHERE [UserExamID]=#UserExamID# AND [QuestionID]=#QuestionID#
    </statement>

    <!--添加一个试题的选项信息-->
    <statement id="Test.UserQuestion.AddExamOption">
      INSERT INTO [KS_ExamQuestionOption]
      ([UserExamID],[QuestionID],[OptionID],
      [QuestionOptionCode],[OptionCode],[OptionContent],[OptionGroupID])
      VALUES
      (
      #TestQuestionOption.UserExamID#, #TestQuestionOption.QuestionID#, #TestQuestionOption.OptionID#,
      #TestQuestionOption.QuestionOptionCode#,#TestQuestionOption.OptionCode#,#TestQuestionOption.OptionGroupID#
      )
    </statement>
    <!--得到一次考试的所有试题的选项信息-->
    <statement id="Test.UserQuestion.FindOptionsInUserExam" resultMap="Test.TestQuestionOption.ResultMap">
      SELECT
      [UserExamID],[QuestionID],[OptionID],
      [QuestionOptionCode],[OptionCode],[OptionContent],[OptionGroupID]
      FROM [KS_ExamQuestionOption]
      WHERE [UserExamID]=#value#
      ORDER BY [OptionCode]
    </statement>
    <!--删除一次考试的试卷的所有试题选项信息-->
    <statement id="Test.UserQuestion.DeleteOptionsInUserExam">
      DELETE FROM [KS_ExamQuestionOption]
      WHERE [UserExamID]=#UserExamID#
    </statement>
    <!--删除一个答卷中指定的ID选项信息-->
    <statement id="Test.UserQuestion.DeleteOptionsByQuestionID">
      DELETE FROM [KS_ExamQuestionOption]
      WHERE [UserExamID]=#UserExamID# AND [QuestionID]=#QuestionID#
    </statement>

    <!--添加一个试题的题面信息-->
    <statement id="Test.UserQuestion.AddExamOptionGroups">
      INSERT INTO [KS_ExamOptionGroup]
      ([UserExamID],[QuestionID],[OptionGroupID],[OptionGroupTitle])
      VALUES
      (#TestOptionGroup.ExamQuestionID#,
      #TestOptionGroup.UserExamID#, #TestOptionGroup.QuestionID#,
      #TestOptionGroup.OptionGroupID#,#TestOptionGroup.OptionGroupTitle#)
    </statement>
    <!--得到一次考试的所有试题的题面信息-->
    <statement id="Test.UserQuestion.FindOptionGroupsInUserExam" resultMap="Test.TestOptionGroup.ResultMap">
      SELECT
      [UserExamID],[QuestionID],[OptionGroupID],[OptionGroupTitle]
      FROM [KS_ExamOptionGroup]
      WHERE [UserExamID]=#value#
    </statement>
    <!--删除一次考试的试卷的所有试题题面信息-->
    <statement id="Test.UserQuestion.DeleteOptionGroupsInUserExam">
      DELETE FROM [KS_ExamOptionGroup]
      WHERE [UserExamID]=#UserExamID#
    </statement>
    <!--删除一个答卷中指定的ID题面信息-->
    <statement id="Test.UserQuestion.DeleteOptionGroupsByQuestionID">
      DELETE FROM [KS_ExamOptionGroup]
      WHERE [UserExamID]=#UserExamID# AND [QuestionID]=#QuestionID#
    </statement>

    <!--得到指定试卷中某一试题的试题反馈信息-->
    <statement id="Test.UserQuestion.GetQuestionFeedbackByQuestion" resultMap="Test.QuestionFeedback.ResultMap">
      SELECT A.[FeedbackID],A.[QuestionID],A.[RightContent],A.[WrongContent]
      FROM KS_QuestionFeedback A JOIN KS_ExamQuestion B
      ON A.TestPaperID =B.TestPaperID
      WHERE A.QuestionID =#QuestionID# AND B.UserExamID =#UserExamID#

      IF(@@ROWCOUNT=0)
      BEGIN
      SELECT [FeedbackID],[QuestionID],[RightContent],[WrongContent]
      FROM TK_QuestionFeedback
      WHERE QuestionID=#QuestionID# AND IsDelete=0
      END
    </statement>
    <!--得到指定试卷中某一试题的选项反馈信息-->
    <statement id="Test.UserQuestion.GetOptionFeedbackByQuestion" resultMap="Test.OptionFeedback.ResultMap">
      SELECT A.[OptionFeedbackID],A.[QuestionID],A.[Content],A.[Options]
      FROM KS_QuestionOptionFeedback A JOIN KS_ExamQuestion B
      ON A.TestPaperID =B.TestPaperID
      WHERE A.QuestionID =#QuestionID# AND B.UserExamID =#UserExamID#

      IF(@@ROWCOUNT=0)
      BEGIN
      SELECT [OptionFeedbackID],[QuestionID],[Content],[Options]
      FROM TK_QuestionOptionFeedback
      WHERE QuestionID=#QuestionID# AND IsDelete=0
      END
    </statement>
    <!--得到指定试卷中某一试题的解决方案信息-->
    <statement id="Test.UserQuestion.GetQuestionExtendByQuestionID" resultMap="QuestionExtend.ResultMap">
      --先判断是否存在特定的，如果不存在，从题库中获取
      SELECT A.QuestionID,A.Solution FROM KS_QuestionExtend A JOIN KS_ExamQuestion B
      ON A.TestPaperID =B.TestPaperID
      WHERE QuestionID =#QuestionID# AND B.UserExamID =#UserExamID#

      IF(@@ROWCOUNT=0)
      BEGIN
      SELECT QuestionID,Solution FROM TK_QuestionOther
      WHERE QuestionID=#QuestionID#
      END
    </statement>
  </statements>
</sqlMap>