<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <!-- 必须提供
    *注意：providers.config为标准文件，直接使用。 -->
  <providers uri="Config/IBatis/providers.config"/>
  <!--  必须提供（根据数据源类型来设定）-->
  <database>
    <!-- 必须提供 -->
    <provider name="sqlServer2.0"/>
    <!-- 必须提供 -->
    <dataSource name="default" connectionString="Data Source=(local);"/>
  </database>
  <sqlMaps>
    <!-- 基础通用的配置
    1、通用分页存储过程参数配置
    -->
    <sqlMap uri="Config/IBatis/Common/Paging.config"/>
    <!-- 题库(TK) 映射关系配置开始 -->
    <!-- -->
    <sqlMap uri="Config/IBatis/ItemBank/Question.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/QuestionBank.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/QuestionExtend.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/OptionFeedback.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/QuestionFeedback.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/QuestionOption.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/OptionGroup.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/QuestionSearch.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/TreeCategory.config"/>
    
    <!-- 考试(KS) 映射关系配置开始 -->
    <sqlMap uri="Config/IBatis/Test/TestPaper.config"/>
    <sqlMap uri="Config/IBatis/ItemBank/TestToQuestion.config"/>
    <sqlMap uri="Config/IBatis/Test/TestFeedback.config" />
    <sqlMap uri="Config/IBatis/Test/TestPaperRule.config" />
    <sqlMap uri="Config/IBatis/Test/PaperQuestion.config"/>
    <sqlMap uri="Config/IBatis/Test/UserExam.config"/>
    <sqlMap uri="Config/IBatis/Test/UserExamResult.config"/>
    <sqlMap uri="Config/IBatis/Test/UserQuestion.config"/>
    <sqlMap uri="Config/IBatis/Test/ExamResource.config"/>
  </sqlMaps>
</sqlMapConfig>
