<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。

    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中

-->
<appSettings>
  <!-- 应用中的异常是否显示完整信息 -->
  <add key="System.ApplicationException.ShowMore" value="true"/>
  <!-- 系统配置 -->
  <add key="System.ApplicationName" value="学习端系统"/>
  <!-- 系统默认密码,请在系统出生时使用！ -->
  <add key="Security.DefaultPassword" value="888888"/>

  <!-- 课件路径 -->
  <add key="CourseWareHost" value="http://localhost:8104"/>

  <!-- 安全是否启用安全的url
  何为安全的url：如果页面有参数，则防止参数篡改！
  -->
  <add key="Security.IsEnableSafeUrl" value="false"/>
  <!--分页默认每页显示的纪录数量-->
  <add key="PageSize" value="10"/>
  <!-- 静态资源根目录 -->
  <add key="StaticResourceRoot" value="~/App_Themes/ThemeStudying"/>

  <!-- Fckeditor配置 
  FCKeditor:BasePath web组件存放位置根路径
  FCKeditor:SkinPath 指定皮肤
  -->
  <add key="FCKeditor:BasePath" value="~/Tools/FCKeditor/"/>
  <add key="FCKeditor:SkinPath" value="~/Tools/FCKeditor/Editor/Skins/office2003/"/>

  <!--RAR压缩工具执行应用文件路径-->
  <add key="RarPath" value="C:\Program Files\WinRAR\WinRAR.exe"/>

  <!-- 1:岗位、职级; 2：部门、职级； 3：部门、岗位、职级-->
  <add key="StudyMapType" value="3"/>

  <!-- 公共论坛首页 -->
  <add key="PublicBBS.HomeUrl" value="http://localhost:8108/WebSite/index.aspx"/>
  <!-- 课程论坛首页 -->
  <add key="CourseBBS.HomeUrl" value="http://localhost:8109/WebSite/ForumHome.aspx?ForumID={0}"/>
  <!-- 班级论坛首页 -->
  <add key="ClassBBS.HomeUrl" value="http://localhost:8110/WebSite/ForumHome.aspx?ForumID={0}"/>


  <!-- 支付平台地址 -->
  <add key="PayUrl" value="http://115.182.41.123/pay/Alipay/default.aspx"/>
  <!--平台账号-->
  <add key="PlatformAccount" value="yzxAdmin"/>
  <!-- 平台密钥 -->
  <add key="PlatformAccountKey" value="uxt01uurwxvstkxpmleeok76ezicp8k4"/>

  <!--直播配置-->
  <add key="OnlinePlayingServiceUrl" value="http://open.gensee.com/integration/services/SaService"/>
  <add key="OnlinePlayingUser" value="admin@open.com"/>
  <add key="OnlinePlayingPassword" value="open321"/>
  <add key="OnlinePlayingSite" value="open.gensee.com"/>

  <add key="PlatTitle" value="职业培训平台"/>
  <add key="CopyRight" value="Copyright 2012  北京跬步教育科技有限公司"/>
  <add key="FootInfo" value="&lt;p&gt;
        &lt;span&gt;客服电话：010-63560720&lt;/span&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &lt;span&gt;邮箱：openmooc@mail.com.cn&lt;/span&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &lt;span&gt;QQ交流群：8898789&lt;/span&gt;
    &lt;/p&gt;
    &lt;p&gt;Copyright ©2016 北京跬步教育科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP备130466xx号-3&lt;/p&gt;
    &lt;p&gt;
        &lt;span&gt;关于我们&lt;/span&gt;&nbsp;&nbsp;|&nbsp;&nbsp;
        &lt;span&gt;联系我们&lt;/span&gt;&nbsp;&nbsp;|&nbsp;&nbsp;
        &lt;span&gt;意见反馈&lt;/span&gt;
    &lt;/p&gt;"/>
  
  <!--课程点评配置 -1：可查看全部(原始版本)，1：审核通过与自己的点评信息-->
  <add key="EvaluationApproveStatus" value="1"/>
  <!--首页日常公告的指定机构ID282-->
  <add key="BulletinOrganizationID" value="282"/>
  <add key="DefaultVistorNum" value="365892"/>

  <!--视频转码地址-->
  <add key="TransCodingStream" value="TVMP4SD"/>
  
  <!--测试最大允许提交次数-->
  <add key="OrgMaxExamNum" value="3"/>
  
  <!-- 移动端访问地址-->
  <add key="MobileCallAddress" value="http://localhost:6848/Home/Index"/>

  <!--直播信息 2017-->
  <add key="LiveRoot" value="http://api.talk-fun.com/portal.php"/>
  <add key="LiveOpenID" value="11425"/>
  <add key="LiveOpenToken" value="1be0e2ce2411a4386da9e8dd44d51a77"/>
  <add key="LiveVersion" value=".net.1.4"/>

  <!--小班直播TK-->
  <add key="TKLiveDomain" value="xdfylw" />
  <add key="TKLiveRoot" value="http://global.talk-cloud.net/WebAPI/" />
  <!--企业id-->
  <add key="TKKey" value="KLKCaWP8YL5bCmJB" />
  <!--视频分辨率 0：流畅   1：标清 2：高清   3：超清-->
  <add key="VideoType" value="1" />
  <!--帧率10,15,20,25,30-->
  <add key="VideoFramerate" value="20" />
  <!--自动开启音视频0: 不自动开启  1：自动开启-->
  <add key="AutoOpenav" value="1" />
  <!--默认老师、助教、巡教密码, 三者不能重复-->
  <add key="ChairmanPwd" value="666666" />
  <add key="SssistantPwd" value="888888" />
  <add key="PatrolPwd" value="111111" />
  
  <!--云片手机短信-->
  <add key="YunPianKey" value="35263f2a514721901c11224ca8e4c3c5"/>
  
  <!--个性标签开始   Key#Value-->
  <add key="study.stemedu.cn" value="CourseNoticeMark#课程公告,EvaluationMark#测评"/>
  <add key="cyxz.yuleyouxue.com" value="CourseNoticeMark#优秀范文,EvaluationMark#作业"/>
  <add key="localhost" value="CourseNoticeMark#课程公告,EvaluationMark#测评"/>
  <!--个性标签结束-->

  <add key="UserCookie" value="HTicket_Studying"/>
  <add key="SiteUrlRoot" value="http://localhost:8060"/>
  <!--单位秒-->
  <add key="TokenDuration" value="300"/>
</appSettings>
