<?xml version="1.0" encoding="utf-8" ?>
<excludeSafeUrlSettings>
  <add key="alipay" value="(\w)+/OrderInfo/return_url.aspx"></add>
  <add key="notify" value="(\w)+/OrderInfo/notify_url.aspx"></add>
  <add key="public" value="public/"></add>
  <add key="index" value="index.aspx"></add>
</excludeSafeUrlSettings>