<?xml version="1.0" encoding="utf-8" ?>
<PaymentSettings>
  <!--支付宝商户账号-->
  <add key="AlipayMerchantId" value="2088421312485215"/>
  <!--支付宝商户秘钥-->
  <add key="AlipayMerchantKey" value="5wqg7qkzho7l93orw19w3ds9lqdjincg"/>
  <!--支付宝网关的参数名称-->
  <add key="AlipayGatewayParameterName" value="seller_email" />
  <!--支付宝网关的参数值-->
  <add key="AlipayGatewayParameterValue" value="yulewanzhifubao@stemedu.cn"/>
  <!--微信商户账号-->
  <add key="WeChatMerchantId" value="1456090802"/>
  <!--微信商户秘钥-->
  <add key="WeChatMerchantKey" value="D5638C9BF4744F80B15EDD66BA1F72CA"/>
  <!--微信网关的参数名称-->
  <add key="WeChatGatewayParameterName" value="appid"/>
  <!--微信网关的参数值-->
  <add key="WeChatGatewayParameterValue" value="wx983ed21afeaadfdf"/>
  <!--支付通知地址-->
  <add key="PayNotifyUrl" value="http://{0}/Notify.aspx"/>
  <!--微信通知地址-->
  <add key="WeChatNotifyUrl" value="http://{0}/wxNotify.aspx"></add>
</PaymentSettings>
