<?xml version="1.0"?>

<objects xmlns="http://www.autumnframework.net" default-lazy-init="true">
  <description>
    服务插件-消息提醒配置
  </description>
  <!-- 基本的消息发送服务+基本的消息源模板服务（Email、SMS、SiteInfo)+基本的消息推送策略服务（是否发邮件、是否发短信、是否发站内信） -->
  <object id="EmailNotifyService"
          name="EmailNotifyMessageSourceService,NotifyStrategyService"
          type="ETMS.Components.Basic.Implement.BLL.Notify.NotifyService,ETMS.Components.Basic.Implement">
    <!-- 邮件类型消息 -->
    <property name="MessageType" value="1"/>
    <!--<property name="MessageQueue"> -->
    <!-- 邮件发送队列 -->
    <!--
      <object type="ETMS.Components.Basic.Implement.BLL.Notify.OrganizationEmailNotifyQueue,ETMS.Components.Basic.Implement"/>
    </property>-->
  </object>
  <object id="SMSNotifyService"
          name="SMSNotifyMessageSourceService"
          type="ETMS.Components.Basic.Implement.BLL.Notify.NotifyService,ETMS.Components.Basic.Implement">
    <!-- 短信类型消息 -->
    <property name="MessageType" value="2"/>
    <!--消息队列注入<property name="MessageQueue" ref='' />-->
  </object>
  <object id="SiteInfoNotifyService"
          name="SiteInfoNotifyMessageSourceService"
          type="ETMS.Components.Basic.Implement.BLL.Notify.NotifyService,ETMS.Components.Basic.Implement">
    <!-- 站内信类型消息 -->
    <property name="MessageType" value="3"/>
    <!--消息队列注入<property name="MessageQueue" ref='' />-->
  </object>
</objects>
