<?xml version='1.0' encoding='utf-8' ?>
<sitePath>
  <sitePathNode url='' title='首页'  description='' index='0'>
    <sitePathNode url='~/MyAnnouncement/Announcement.aspx' title='公告列表'  description=''>
      <sitePathNode url='~/MyAnnouncement/AnnouncementView.aspx' title='公告查看'  description=''/>
    </sitePathNode>
    <sitePathNode url='~/Poll/QueryList.aspx' title='代办事宜'  description=''>
      <sitePathNode url='~/Poll/PollView.aspx' title='调查问卷' description=''/>
      <sitePathNode url='~/Poll/QueryAnswer.aspx' title='调查问卷' description=''/>
      <sitePathNode url='~/Poll/QueryStatResult.aspx' title='调查结果' description=''/>
    </sitePathNode>
    <sitePathNode url='~/Notify/NotifyList.aspx' title='到期提醒'  description=''>
    </sitePathNode>
    <sitePathNode url='~/StudyMap/StudyMapList.aspx' title='学习地图列表'  description=''>
      <sitePathNode url='~/StudyMap/StudyMapCourseList.aspx' title='学习地图'  description=''></sitePathNode>
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='学习中心'  description='' index='1' >
    <sitePathNode url='~/MyCourse/ProjectList.aspx' title='我的项目'  description=''>
      <sitePathNode url='~/MyCourse/CourseList.aspx?TrainingItemID' title='项目课程列表'  description=''/>
    </sitePathNode>
    <sitePathNode url='~/MyCourse/CourseList.aspx' title='我的课程' description=''>
      <sitePathNode url='~/MyCourse/ReCoursewareList.aspx' title='在线课件' description=''></sitePathNode>
      <sitePathNode url='~/MyCourse/CourseIntroudce.aspx' title='课程简介' description=''></sitePathNode>
      <sitePathNode url='~/MyCourse/ReGuidanceInfo.aspx' title='导学资料' description=''></sitePathNode>
      <sitePathNode url='~/MyCourse/ReArrangement.aspx' title='授课安排' description=''></sitePathNode>
      <sitePathNode url='~/MyCourse/ReOnlineHomework.aspx' title='在线作业' description=''></sitePathNode>
      <sitePathNode url='~/MyCourse/ReOfflineHomework.aspx' title='离线作业' description=''></sitePathNode>
      <sitePathNode url='~/Comment/CourseComment.aspx' title='课程点评' description=''></sitePathNode>
      <sitePathNode url='~/Comment/TeacherComment.aspx' title='讲师点评' description=''></sitePathNode>
    </sitePathNode>

  </sitePathNode>
  <sitePathNode url='' title='测评中心'  description='' index='2' >
    <sitePathNode url='~/MyExam/ExOnlineTest.aspx' title='在线测试'  description=''>
      <sitePathNode url='~/MyExam/DoExOnlineTest.aspx' title='开始考试'  description=''/>
      <sitePathNode url='~/MyExam/ExerciseView.aspx' title='在线测试查看'  description=''/>
    </sitePathNode>
    <sitePathNode url='~/MyExam/Achievement.aspx' title='考试成绩'  description='' >
      <sitePathNode url='~/MyExam/AchievementList.aspx' title='考试成绩明细'  description='' />
    </sitePathNode>
  </sitePathNode>
  <sitePathNode url='' title='个人中心'  description='' index='3'>
    <sitePathNode url='~/MyRecord/MyBasicInfo.aspx' title='个人资料'  description=''>
      <sitePathNode url='~/MyRecord/MyBasicInfo.aspx' title='基本信息'  description=''/>
      <sitePathNode url='~/MyRecord/MyPhotoEdit.aspx' title='个人头像'  description=''/>
      <sitePathNode url='~/MyRecord/MyPasswordEdit.aspx' title='修改密码'  description=''/>
    </sitePathNode>
    <sitePathNode url='~/MyRecord/OnLineLearnRecord.aspx' title='学习档案'  description=''>
      <sitePathNode url='~/MyRecord/ProjectInfo.aspx' title='项目信息'  description=''></sitePathNode>
      <sitePathNode url='~/MyRecord/OnLineCourseInfo.aspx' title='课程信息'  description=''></sitePathNode>
    </sitePathNode>
    <sitePathNode url='~/MyRecord/MyExam.aspx' title='考试档案'  description=''>
      <sitePathNode url='~/MyRecord/MyExamScore.aspx' title='考试档案明细'  description=''></sitePathNode>
    </sitePathNode>
    <sitePathNode url='~/MyApply/ApplyList.aspx' title='请假申请' description=''/>
  </sitePathNode>
  <sitePathNode url='' title='导师辅导'  description='' index='5'>
    <sitePathNode url='~/IDP/MyIDP/TeacherAdd.aspx' title='新增IDP'  description='' />
    <sitePathNode url='~/IDP/MyIDP/MyIDPList.aspx' title='我的IDP'  description=''>
      <sitePathNode url='~/IDP/MyIDP/MyIDPFeedBack.aspx' title='进入我的IDP'  description='' >
        <sitePathNode url='~/IDP/MyIDP/MyIDPFeedBackStu.aspx' title='自我评价与反馈'  description='' />
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='~/IDP/MyIDPHistroy/MyIDPListHistory.aspx' title='历史IDP'  description=''>
      <sitePathNode url='~/IDP/MyIDPHistroy/IDPView.aspx' title='查看我的历史IDP'  description='' >
        <sitePathNode url='~/IDP/MyIDPHistroy/MyIDPFeedBackStu.aspx?' title='自我评价与反馈（历史）'  description='' />
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='~/IDP/ManageIDP/IDPSeachList.aspx' title='IDP查询'  description=''>
      <sitePathNode url='~/IDP/ManageIDP/IDPSeachDetaileView.aspx' title='IDP详情'  description='' >
        <sitePathNode url='~/IDP/ManageIDP/IDPFeedBackStu.aspx' title='自我评价与反馈（查询）'  description='' />
      </sitePathNode>
    </sitePathNode>
    <sitePathNode url='~/IDP/ManageIDP/IDPGuidanceList.aspx' title='IDP辅导'  description=''>
      <sitePathNode url='~/IDP/ManageIDP/MyIDP.aspx' title='管理与反馈'  description=''>
        <sitePathNode url='~/IDP/MyIDP/FeedBackList.aspx' title='跟进反馈'  description=''/>
      </sitePathNode>
    </sitePathNode>
  </sitePathNode>  
</sitePath>
